.btn,
.btn:hover {
	text-decoration: none;
	transition: 0.3s;
}

.btn--default,
.btn--primary {
	background-color: transparent;
	border-width: 1px;
	border-style: solid;
	border-color: #ff1e36;
	color: #ff1e36;
}

.btn--default {
	border-width: 1px;
	border-style: solid;
	border-color: #ff1e36;
	background-color: #ff1e36;
	color: #fff;
	&:hover {
		background-color: transparent;
		border-width: 1px;
		border-style: solid;
		border-color: #ff1e36;
		color: #ff1e36;
	}
	&:active {
		opacity: 0.7;
	}
}

.btn--primary {
	&:hover {
		background-color: #ff1e36;
		border-width: 1px;
		border-style: solid;
		border-color: #ff1e36;
		color: #fff;
	}
	&:active {
		opacity: 0.7;
	}
}

.btn--success {
	border: 1px solid #26AE60;
	background: #26AE60;
	color: #fff;
	&:hover,
	&:focus {
		border-color: #26AE60;
		color: #26AE60;
	}
	&:active {
		border-color: #269060;
		color: #26AE60;
	}
}

.btn--circle {
	border-radius: 50px;
}

.btn--square {
	border-radius: 4px;
}

.btn--min {
	padding: 4px 24px;
}

.btn--mid {
	padding: 11px 24px;
}

.btn--big {
	padding: 19px 24px;
}

.btn--blocked,
.btn--blocked:hover,
.btn--blocked:active {
	&:hover,
	&:active {
		border: 1px solid #95a5a6;
		background-color: #95a5a6;
		color: #fff;
	}
}

.btn__link {
	display: flex;
	align-items: center;
}

.btn__link,
.btn__link:hover,
.btn__link:active,
.btn__link:focus {
	color: #2880b9;
	text-decoration: none;
}

.btn__link--icon-l {
	img,
	svg {
		margin-right: 9px;
	}
}

.btn__link--icon-r {
	img,
	svg {
		margin-left: 9px;
	}
}

.btn--icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border: none;
	background-color: #ff1e36;
	cursor: pointer;
	&.btn--icon-big {
		width: 64px;
		height: 64px;
	}
}
