.btn {
	display: inline-flex;
	align-items: center;
	border: none;
	background: none;
	border-radius: 4px;
	font-size: 0.9333rem;
	font-weight: 500;
	text-decoration: none;
	transition: 0.3s all ease-out;
	cursor: pointer;
	svg {
		height: 19px;
		max-width: 20px;
		transition: 0.3s all ease-out;
	}
	&.btn_min {
		padding: 9px 24px;
	}
	&.btn_mid {
		padding: 14px 27px;
	}
	&.btn_big {
		padding: 20px 24px;
	}
	&.btn_align-center {
		align-items: center;
	}
	&.btn_round {
		border-radius: 50px;
	}
	&.btn_icon-right {
		svg {
			margin-left: 20px;
		}
	}
	&.btn_icon-left {
		svg {
			margin-right: 20px;
		}
	}
	&.btn_primary,
	&.btn_secondary,
	&.btn_success,
	&.btn_light,
	&.btn_light_to-success {
		border-width: 2px;
		border-style: solid;
		svg {
			fill: #fff;
		}
		&:hover,
		&:focus {
			background: none;
		}
		&:active {
			opacity: 0.7;
		}
	}
	&.btn_primary {
		border-color: #ff1e36;
		background: #ff1e36;
		color: #fff;
		svg {
			fill: #fff;
		}
		&:hover,
		&:focus {
			color: #ff1e36;
			svg {
				fill: #ff1e36;
			}
		}
		&:active {
			color: #ff1e36;
			svg {
				fill: #ff1e36;
			}
		}
	}
	&.btn_secondary {

	}
	&.btn_success {
		border-color: #26AE60;
		background: #26AE60;
		color: #fff;
		svg {
			fill: #fff;
		}
		&:hover,
		&:focus {
			color: #26AE60;
			svg {
				fill: #26AE60;
			}
		}
		&:active {
			color: #26AE60;
			svg {
				fill: #26AE60;
			}
		}
	}
	&.btn_light {
		border-color: #fff;
		background: #fff;
		color: #95A5A6;
		svg {
			fill: #95A5A6;
		}
		&:hover,
		&:focus {

		}
		&:active {

		}
	}
	&.btn_light_to-success {
		border-color: #EEEEEE;
		background: #fff;
		color: #95A5A6;
		svg {
			fill: #95A5A6;
		}
		&:hover,
		&:focus {
			border-color: #26AE60;
			background: #26AE60;
			color: #fff;
			svg {
				fill: #fff;
			}
		}
		&:active {
			border-color: #26AE60;
			background: #26AE60;
			color: #fff;
			svg {
				fill: #fff;
			}
		}
	}
	&.btn_outline-primary,
	&.btn_outline-secondary,
	&.btn_outline-success,
	&.btn_outline-light {
		border-width: 2px;
		border-style: solid;
		background: none;
	}
	&.btn_outline-primary {
		border-color: #ff1e36;
		color: #ff1e36;
		svg {
			fill: #ff1e36;
		}
		&:hover,
		&:focus {
			background: #ff1e36;
			color: #fff;
			svg {
				fill: #fff;
			}
		}
		&:active {
			background: #ff1e36;
			color: #fff;
			svg {
				fill: #fff;
			}
		}
	}
	&.btn_outline-secondary {
		border-color: #eee;
		color: #fff;
		svg {
			fill: #95A5A6;
		}
		&:hover,
		&:focus {
			border-color: #fff;
			background: #fff;
			color: #95A5A6;
			svg {
				fill: #95A5A6;
			}
		}
		&:active {
			border-color: #fff;
			background: #fff;
			color: #95A5A6;
			svg {
				fill: #95A5A6;
			}
		}
	}
	&.btn_outline-secondary-to-success {
		&:hover,
		&:focus {
			border-color: #26AE60;
			background: #26AE60;
			color: #fff;
			svg {
				fill: #fff;
			}
		}
		&:active {
			border-color: #26AE60;
			background: #26AE60;
			color: #fff;
			svg {
				fill: #fff;
			}
		}
	}
	&.btn_outline-success {
		border-color: #26AE60;
		color: #26AE60;
		svg {
			fill: #26AE60;
		}
		&:hover,
		&:focus {
			background: #26AE60;
			color: #fff;
			svg {
				fill: #fff;
			}
		}
		&:active {
			background: #26AE60;
			color: #fff;
			svg {
				fill: #fff;
			}
		}
	}
	&.btn_outline-light {
		border-color: #eee;
		color: #95A5A6;
		svg {
			fill: #fff;
		}
		&:hover,
		&:focus {
			background: #fff;
			color: #95A5A6;
			svg {
				fill: #95A5A6;
			}
		}
		&:active {
			background: #fff;
			color: #95A5A6;
			svg {
				fill: #95A5A6;
			}
		}
	}
	&.btn_blocked,
	&.btn_blocked:hover,
	&.btn_blocked:focus,
	&.btn_blocked:active {
		border: 1px solid #95a5a6;
		background-color: #95a5a6;
		color: #fff;
	}
	&.btn_circle-default,
	&.btn_circle-min {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0;
		border-radius: 50%;
	}
	&.btn_circle-default {
		width: 60px;
		height: 60px;
	}
	&.btn_circle-min {
		width: 48px;
		height: 48px;
	}
}

@media (max-width: 768px) {
	.btn {
		&.btn_circle-default {
			width: 48px;
			height: 48px;
		}
	}
}