.catalog-menu {
	background: #f6f6f6;
	ul {

	}
	li {
		border-bottom: 1px solid #ddd;
		.submenu {
			display: none;
			position: relative;
			li {
				border: none;
				background: rgba(0,0,0,.3);
				&.active {
					a {
						text-decoration: underline;
					}
				}
				&:hover {
					a {
						text-decoration: underline;
					}
				}
			}
			a {
				color: #fff;
			}
		}
		&:hover {
			a {
				color: #ff223d;
			}
		}
		&.active {
			background: #ff223d;
			a {
				color: #fff;
			}
			.submenu {
				display: block;
			}
		}
	}
	a {
		display: block;
		padding: 25px 30px;
		color: #333;
		font-size: 15px;
		transition: 0.3s all ease-out;
	}
}