h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: #1C1C1C;
	font-weight: bold;
}

h1,
.h1 {
	margin: 15px 0 30px;
}

h2,
.h2,
h3,
.h3,
h4,
.h4 {
	margin: 50px 0 30px;
}

h5,
.h5,
h6,
.h6 {
	margin: 50px 0 20px;
}

@media (min-width: 992px) {
	h1,
	.h1 {
		font-size: 2.8rem;
		line-height: 3.6rem;
	}
	h2,
	.h2 {
		font-size: 2.4rem;
		line-height: 3.2rem;
	}

	h3,
	.h3 {
		font-size: 1.6rem;
		line-height: 2.4rem;
	}

	h4,
	.h4 {
		font-size: 1.2rem;
		line-height: 2.1333333333333333rem;
	}

	h5,
	.h5,
	h6,
	.h6 {
		font-size: 1.0666666666666667rem;
		line-height: 1.7333333333333334rem;
	}
}

@media (max-width: 992px) {
	h1,
	.h1 {
		font-size: 2.4rem;
		line-height: 3.2rem;
	}
	h2,
	.h2 {
		font-size: 1.6rem;
		line-height: 2.4rem;
	}

	h3,
	.h3 {
		font-size: 1.2rem;
		line-height: 2.1333333333333333rem;
	}

	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		font-size: 1.0666666666666667rem;
		line-height: 1.7333333333333334rem;
	}
	h4,
	.h4 {
		margin: 50px 0 20px;
	}
}