.label {
	padding: 7px 17px 5px;
	border-radius: 50px;
	text-align: center;
	color: #fff;
	font-size: 0.75rem;
	&.label_blue {
		background: #197ED1;
	}
	&.label_yellow {
		background: #EFA32A;
	}
	&.label_green {
		background: #22C25B;
	}
}