.link {
	display: flex;
	align-items: center;
	font-weight: 500;
	text-decoration: none;
	transition: 0.3s all ease-out;
	&.link_icon-left {
		img,
		svg {
			margin-right: 9px;
		}
	}
	&.link_icon-right {
		img,
		svg {
			margin-left: 9px;
		}
	}
	&.link_primary {
		color: #2880b9;
		svg {
			fill: #2880b9;
		}
	}
	&.link_secondary {
		color: #ff223d;
		svg {
			fill: #ff223d;
		}
	}
	&.link_success {
		color: #26AE60;
		svg {
			fill: #26AE60;
		}
		&:hover,
		&:focus {
			color: #269060;
			svg {
				fill: #269060;
			}
		}
		&:active {
			color: #269060;
			svg {
				fill: #269060;
			}
		}
	}
	&.link_light {
		color: #fff;
		svg {
			fill: #fff;
		}
	}
}