.radiobutton {
	display: flex;
	align-items: flex-start;
	color: #969696;
	input {
		display: none;
		position: absolute;
		top: -9999px;
		left: -9999px;
		visibility: hidden;
		opacity: 0;
		&:checked + .radiobutton__inner {
			border-color: #26AE60;
			background: #26AE60;
			&:after {
				opacity: 1;
			}
		}
		&:disabled + .radiobutton__inner {
			background: #F5F5F5;
		}
	}
}

.radiobutton__inner {
	flex: 0 0 20px;
	display: inline-block;
	position: relative;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-radius: 50%;
	border: 1px solid #eeeeee;
	cursor: pointer;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #fff;
		opacity: 0;
		transition: 0.3s all ease-out;
	}
}

.radiobutton__text {
	display: inline-block;
	padding: 1px 0 0 10px;
	font-size: 0.8rem;
	line-height: 1.2rem;
	font-weight: 500;
}