.header-search,
.search-form,
.search-form {
	display: flex;
	padding-right: 15px;
}

.search-form {
	position: relative;
	display: flex;
	width: 100%;
}

.search-form__icon {
	position: absolute;
	top: 16px;
	left: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 14px;
	width: 14px;
	svg {
		height: 100%;
		fill: #aaa9ad;
	}
}

.search-form__input {
	display: flex;
	max-width: 100%;
	flex: 1;
	height: 45px;
	padding-left: 50px;
	padding-right: 75px;
	border: 1px solid #eaeaea;
	border-radius: 50px 10px 10px 50px;
	background: transparent;
	font-size: 1rem;
	transition: 0.3s all ease-out;
	&::placeholder {
		color: #aaa9ad;
		font-size: 1rem;
	}
	&:focus {
		border-color: #ff1e36;
	}
}

.search-form__button {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	min-width: 45px;
	border: 2px solid #ff1e36;
	border-radius: 22.5px;
	background: #ff1e36;
	color: #fff;
	cursor: pointer;
	transition: 0.3s all ease-out;
	svg {
		fill: #fff;
		transition: 0.3s all ease-out;
	}
	&:hover,
	&:focus {
		background-color: #fff;
		svg {
			fill: #ff1e36;
		}
	}
}

.search__page-panel,
.search__notice {
	display: block;
	margin-bottom: 25px;
}

.search__notice {
	a {
		font-weight: 500;
		margin-bottom: 25px;
	}
}

.search__items-list {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
}

.search__item {
	margin: 0 0 30px;
	padding: 0 0 30px;
	border-bottom: 1px solid #eaeaea;
}

.search__item-name {
	display: block;
	font-weight: 500;
}

.search__item-anons {
	margin-top: 10px;
}