.search-results {
	padding: 60px 0 0 0;
}

.search-results-item {
	margin: 0 0 30px;
	padding: 0 0 30px;
    border-bottom: 1px solid #eaeaea;
}

.search-results-item__link {
	display: block;
	margin-bottom: 10px;
}

.search-results-item__prev {
	line-height: 1.8rem;
}