.stock-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px -15px;
}

.stock-list-item {
	flex: 1 0 50%;
	max-width: 50%;
	padding: 0 15px 15px;
	a {
		display: block;
		padding: 0 0 30px 0;
		border-bottom: 1px solid #eaeaea;
	}
}

.stock-list-item__image {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	img {
		width: auto;
		max-width: 100%;
	}
}

.stock-list-item__name {
	margin-bottom: 15px;
	color: #ff223d;
	line-height: 1.733rem;
	transition: 0.3s all ease-out;
}

.stock-list-item__desc {
	margin-bottom: 30px;
	font-size: .875rem;
    line-height: 1.8em;
}

.stock-list-item-date {
	display: flex;
	align-items: center;
	font-size: .875rem;
	color: #aaa9ad;
}

.stock-list-item-date__icon {
	margin-right: 10px;
	svg {
		height: 14px;
		width: 14px;
		fill: #aaa9ad;
	}
}

@media (max-width: 576px) {
	.stock-list-item {
		flex: 1 0 100%;
		max-width: 100%;
	}
}