.tabs {
	width: 100%;
	&.tabs_min {
		.tabs__toggle {
			button {
				padding: 6px 21px;
				font-size: 0.6667rem;
			}
		}
	}
	&.tabs_mid {
		.tabs__toggle {
			button {
				padding: 8px 21px;
				font-size: 0.9333rem;
			}
		}
	}
	&.tabs_big {
		.tabs__toggle {
			button {
				padding: 11px 30px;
				font-size: 1.067rem;
			}
		}
	}
	&.tabs_defalt {
		.tabs__toggles {
			background-color: #fff;
			border-radius: 50px;
			border: 1px solid #eee;
		}
		.tabs__toggle {
			button {
				border-right: 1px solid #eee;
				border-left: 1px solid #eee;
			}
			&:last-child {
				button {
					border-right: 0;
				}
			}
			&.tabs__toggle_active {
				button {
					border-radius: 50px 50px 50px 50px;
					background-color: #26AE60;
					color: #fff;
				}
			}
		}
	}
	&.tabs_underline {
		.tabs__toggle {
			button {
				border-bottom: 1px solid #eeeeee;
			}
			&.tabs__toggle_active {
				button {
					border-color: #26AE60;
					color: #26AE60;
				}
			}
		}
	}
}

.tabs__toggles {
	display: flex;
	width: fit-content;
	overflow: hidden;
}

.tabs__toggle {
	cursor: pointer;
	margin: 0 -1px;
	button {
		border: none;
		background: none;
		pointer-events: none;
		cursor: pointer;
	}
	&.tabs__toggle_active {
		margin: 0;
	}
}

.tabs__content {
	display: none;
	padding: 30px 0 0 0;
	&.tabs__content_active {
		display: block;
	}
}





.tabs__circle {
	background-color: #fff;
	border-radius: 50px;
	border: 1px solid #eeeeee;
	overflow: hidden;
	.tabs__item {
		border-right: 1px solid #eeeeee;
		border-left: 1px solid #eeeeee;
		margin: 0 -1px;
		cursor: pointer;
	}
	.tabs__item--active {
		position: relative;
		background-color: #2880b9;
		color: #fff;
		border-radius: 50px 50px 50px 50px !important;
	}
	.tabs__item--active:before {
		content: '';
		position: absolute;
		left: -1px;
		top: 0;
		height: 100%;
		width: 1px;
		background-color: #fff;
	}
	.tabs__item--active:after {
		content: '';
		position: absolute;
		right: -1px;
		top: 0;
		height: 100%;
		width: 1px;
		background-color: #fff;
	}
	.tabs__item:first-child {
		border-left: 0px;
		border-radius: 50px 0 0 50px;
		margin: 0;
	}
	.tabs__item:last-child {
		border-right: 0px;
		border-radius: 0 50px 50px 0;
		margin: 0;
	}
}

.tabs__circle--min {
	font-size: 10px;
	.tabs__item {
		padding: 3px 25px;
		text-transform: uppercase;
	}
}

.tabs__circle--mid {
	font-size: 14px;
	.tabs__item {
		padding: 6px 25px;
	}
}

.tabs__circle--max {
	font-size: 16px;
	.tabs__item {
		padding: 9px 30px;
	}
}

.tabs__line {
	border-bottom: 1px solid #eeeeee;
	.tabs__item {
		cursor: pointer;
	}
	.tabs__item--active {
		color: #2880b9;
		border-bottom: 1px solid #2880b9;
	}
}

.tabs__line--min {
	font-size: 10px;
	.tabs__item {
		padding: 7px 25px;
		text-transform: uppercase;
	}
}

.tabs__line--mid {
	font-size: 14px;
	.tabs__item {
		padding: 8px 25px;
	}
}

.tabs__line--max {
	font-size: 16px;
	.tabs__item {
		padding: 13px 30px;
	}
}
