.tabs {
  display: flex;
  width: fit-content;
  margin-bottom: 10px;
}

.tabs__circle {
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #EEEEEE;
  overflow: hidden;
  .tabs__item {
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    margin: 0 -1px;
    cursor: pointer;
  }
  .tabs__item--active {
    position: relative;
    background-color: #2880B9;
    color: #fff;
    border-radius: 50px 50px 50px 50px!important;
  }
  .tabs__item--active:before {
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #fff;
  }
  .tabs__item--active:after {
    content: '';
    position: absolute;
    right: -1px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #fff;
  }
  .tabs__item:first-child {
    border-left: 0px;
    border-radius: 50px 0 0 50px;
    margin: 0;
  }
  .tabs__item:last-child {
    border-right: 0px;
    border-radius: 0 50px 50px 0;
    margin: 0;
  }
}

.tabs__circle--min {
  font-size: 10px;
  .tabs__item {
    padding: 3px 25px;
    text-transform: uppercase;
  }
}

.tabs__circle--mid {
  font-size: 14px;
  .tabs__item {
    padding: 6px 25px;
  }
}

.tabs__circle--max {
  font-size: 16px;
  .tabs__item {
    padding: 9px 30px;
  }
}

.tabs__line {
  border-bottom: 1px solid #EEEEEE;
  .tabs__item {
    cursor: pointer;
  }
  .tabs__item--active {
    color: #2880B9;
    border-bottom: 1px solid #2880B9;
  }
}

.tabs__line--min {
  font-size: 10px;
  .tabs__item {
    padding: 7px 25px;
    text-transform: uppercase;
  }
}

.tabs__line--mid {
  font-size: 14px;
  .tabs__item {
    padding: 8px 25px;
  }
}

.tabs__line--max {
  font-size: 16px;
  .tabs__item {
    padding: 13px 30px;
  }
}