.text {
	p {
		font-size: 1.2rem;
		line-height: 2rem;
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}
}

@media (max-width: 768px) {
	.text {
		p {
			font-size: 1.067rem;
			line-height: 1.6rem;
		}
	}
}