.around {
	background-color: #fff;
	padding: 155px 0 85px;
}

.around__info {
	max-width: 460px;
}

.around__title {
	margin-bottom: 30px;
}

.around__text {
	margin-bottom: 40px;
	opacity: 0.6;
	font-size: 1.2rem;
	line-height: 2rem;
}

.around__link-all {
	font-size: 0.9333rem;
	line-height: 1.133rem;
}

.around__block {
	display: flex;
	align-items: flex-start;
	&:not(:last-child) {
		margin-bottom: 40px;
	}
}

.around__pic {
	margin-right: 40px;
	svg,
	img {
		max-height: 48px;
		width: auto;
	}
}

.around__desc-title {
	margin-bottom: 7px;
	text-transform: uppercase;
	font-size: 1.067rem;
	line-height: 1.6rem;
	font-weight: bold;
}

.around__desc-text {
	font-size: 1.067rem;
	line-height: 1.6rem;
	opacity: 0.6;
	font-weight: 500;
}

@media (max-width: 992px) {
	.around__info {
		margin-bottom: 85px;
	}
}

@media (max-width: 768px) {
	.around {
		padding: 65px 0;
	}
	.around__info {
		max-width: none;
		margin-bottom: 60px;
	}
	.around__blocks {
		display: flex;
		flex-wrap: wrap;
	}
	.around__block {
		flex: 0 1 350px;
	}
}

@media (max-width: 576px) {
	.around__block {
		flex-direction: column;
	}
	.around__desc {
		max-width: 100%;
	}
	.around__pic {
		margin: 0 0 25px 0;
	}
}