.section-stocks {
	position: relative;
	overflow: hidden;
}

.section-stocks-slide {
	position: relative;
	overflow: hidden;
	padding: 105px 65px 145px;
	color: #fff;
	&:after {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.5;
		pointer-events: none;
	}
}

.section-stocks-slide__wrap {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-stocks-slide__title,
.section-stocks-slide__subtitle {
	font-size: 2.8rem;
	line-height: 3.6rem;
	color: #fff;
}

.section-stocks-slide__title {
	margin: 0 0 25px;
    font-weight: 700;
}

.section-stocks-slide__percent {
	font-size: 4.5rem;
	color: #ff223d;
}

.section-stocks-slide__subtitle {
	font-size: 2.625rem;
    font-weight: 400;
}

.section-stocks-slide__link {
	margin-top: 55px;
}

.section-stocks-dots {
	position: absolute;
	z-index: 2;
	bottom: 80px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.section-stocks-dots__dot {
	width: 10px;
	height: 10px;
	margin: 0 15px;
	border-radius: 50%;
	border: 2px solid #fff;
	cursor: pointer;
	&.tns-nav-active {
		background: #fff;
	}
}

.section-stocks__arrow-wrap {
	display: flex;
	justify-content: space-between;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 1230px;
	padding: 0 15px;
	pointer-events: none;
}

.section-stocks__arrow_next,
.section-stocks__arrow_prev {
	pointer-events: all;
}

@media (max-width: 768px) {
	.section-stocks-slide {
		padding: 65px 15px;
	}
	.section-stocks-slide__title {
		margin-bottom: 15px;
		font-size: 2.133rem;
		line-height: 2.533rem;
	}
	.section-stocks-slide__subtitle {
		font-size: 1.5rem;
	}
	.section-stocks-slide__percent {
		font-size: 2.667rem;
	}
	.section-stocks-slide__link {
		margin-top: 25px;
	}
	.section-stocks__arrow-wrap {
		display: none;
	}
	.section-stocks-dots {
		bottom: 30px;
	}
}

@media (max-width: 576px) {
	.section-stocks-slide__title {
		font-size: 1.733rem;
		line-height: 2.133rem;
	}
	.section-stocks-slide__subtitle {
		font-size: 1.2rem;
	}
	.section-stocks-slide__percent {
		font-size: 1.8rem;
	}
	.section-stocks__arrow-wrap {
		display: none;
	}
}