.services {
	padding: 88px 0;
	&.services--grey {
		background: #F8F8F8;
	}
}

.services__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.services__title,
.services__text {
	margin-bottom: 45px;
}

.services__title {
	flex: 0 1 290px;
}

.services__text {
	font-size: 1.2rem;
	line-height: 2rem;
	max-width: 373px;
	opacity: 0.6;
}

.services__item-pic {
	margin-bottom: 40px;
}

.services__item-title {
	font-size: 1.6rem;
	line-height: 1.933rem;
	margin-bottom: 20px;
}

.services__item-text {
	font-size: 1.2rem;
	line-height: 2rem;
	opacity: 0.6;
}

@media (max-width: 992px) {
	.services__item {
		margin-bottom: 40px;
	}
}

@media (max-width: 768px) {
	.services__item-title,
	.services__item-text {
		max-width: 320px;
	}
	.services__item {
		margin-bottom: 30px;
	}
}

@media (max-width: 576px) {
	.services {
		padding: 56px 0;
	}
	.services__item-pic {
		margin-bottom: 25px;
	}
	.services__item-title {
		font-size: 1.2rem;
		line-height: 1.467rem;
		margin-bottom: 10px;
	}
	.services__item-text {
		font-size: 1.067rem;
		line-height: 1.733rem;
	}
}

@media (max-width: 400px) {
	.services__title {
		font-size: 1.2rem;
		line-height: 30px;
		margin-bottom: 18px;
	}
	.services__text {
		font-size: 0.9333rem;
		line-height: 1.333rem;
	}
}