.DS_Store
Thumbs.db
/.idea/
/bitrix/
/settings.json
/local/templates/package.json
/local/templates/package-lock.json
/local/templates/individual/*.json
/local/templates/build/
/local/templates/.default/node_modules/
/local/templates/globals.js
/local/templates/globals.json
/local/templates/gulpfile.js
/upload/