.cart__items-count,
.btn-default,
.header-top_navbar li a:hover,
.header-top_navbar li a:focus,
.header-top_navbar li a:active,
.header-phone a:hover,
.header-phone a:focus,
.header-phone a:active,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-link,
.news__item:hover .news__name span, .news__item:focus .news__name span, .news__item:active .news__name span,
.product__item:focus .product__item-name, .product__item:hover .product__item-name, .product__item:active .product__item-name,
.left__menu .catalog__menu>li>a:focus, .left__menu .catalog__menu>li>a:hover,
.page-section ul li.active a,
.page-section ul li:focus a,
.page-section ul li:hover a,
.stock-title span,
.header__phone a,
.settings__tabs-menu a:hover, .settings__tabs-menu a:focus, .settings__tabs-menu a:active, .settings__tabs-menu-item.active a,
.papers__link,
a
{
color: #ff223d;
}
.btn-default svg
{
fill: #ff223d;
}
.review__image,
.product-image__nav.slick-current:before,
.product-image__nav:active:before,
.product-image__nav:focus:before,
.product-image__nav:hover:before,
.product__tabs-head>li.active, .product__tabs-head>li:focus, .product__tabs-head>li:hover,
.review-nav__image:before,
.header-search .inp-search:active,
.header-search .inp-search:focus,
.search__page-panel .inp-search:active,
.search__page-panel .inp-search:focus,
.btn-search, .btn-search:hover, .btn-search:active, .btn-search:focus,
.btn-primary,
.btn-default,
.btn-icon,
.slide-item__bottom .slide-prev:before, .slide-item__bottom .slide-next:before
{
border-color: #ff223d;
}
.cart__panel-show,
.cart__page .cart__page-checkbox input[type=checkbox]:checked+.cart__page-checktext:before, .politic__checkbox input[type=checkbox]:checked+.politic__text:before,
.sub__category:focus .sub__categoty-name,
.sub__category:hover .sub__categoty-name,
.sub__category:active .sub__categoty-name,
.left__menu .catalog__menu>li.active>a,
.review__arrow:after,
.btn-search,
.btn-primary,
.btn-link:before,
.product__item:focus .product__item-link:before, .product__item:hover .product__item-link:before,
.left__menu .catalog__menu>li.active>.submenu,
.btn-default:hover, .btn-default:active, .btn-default:focus,
.settings__tabs-menu a:hover:before, .settings__tabs-menu a:focus:before, .settings__tabs-menu a:active:before, .settings__tabs-menu-item.active a:before,
.settings__tabs-reset:hover span:after, .settings__tabs-reset:active span:after, .settings__tabs-reset:focus span:after,
.container-section--popular .section-item__name:before,
.sub__category:hover .sub__categoty-name, .sub__category:focus .sub__categoty-name
{
background: #ff223d;
}
.logo-circle,
.logo-svg .cls-1, .logo-svg .cls-2,
.header-phone path,
.btn-icon svg path,
.navN li.navn-next a svg path, .navN li.navn-prev a svg path,
.btn-search:focus path, .btn-search:hover path, .btn-search:active path
.btn-default:hover svg, .btn-default:focus svg, .btn-default:active svg,
.btn-primary:hover svg, .btn-primary:focus svg, .btn-primary:active svg
{
fill:#ff223d;
}
.settings__tabs-reset svg path
{
stroke:#ff223d;
}
.review-nav__image:after
{
border-color: #ff223d transparent transparent transparent;
}
.review__next:before,
.btn-link:after
{
border-color: transparent transparent transparent #ff223d;
}
.review__prev:before
{
border-color: transparent #ff223d transparent transparent;
}
