.slider-big {
	position: relative;
	max-width: 1350px;
	margin: auto;
	border-radius: 10px;
}

.slider-big__slides {
	display: flex;
}

.slider-big-slide,
.tns-horizontal.tns-subpixel>.tns-item.slider-big-slide {
	position: relative;
	display: inline-flex;
	align-items: center;
	flex: 1 0 auto;
	margin: 0!important;
	border-radius: 10px;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 103.8%);
		z-index: -1;
	}
}

.slider-big-slide__inner {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	padding: 100px 15px;
}

.slider-big-slide__img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	z-index: -1;
}

.slider-big-slide__title {
	max-width: 500px;
	margin-top: 0;
	margin-bottom: 25px;
	color: #fff;
	font-size: 2.625rem;
	line-height: 3.375rem;
	font-weight: bold;
}

.slider-big-slide__text {
	max-width: 380px;
	margin-bottom: 45px;
	color: #fff;
	font-size: 1.125rem;
    line-height: 2rem;
}

.slider-big-slide__btn {
	display: inline-flex;
	margin-bottom: 60px;
}

.slider-big-slide-numbers {
	display: flex;
}

.slider-big-slide-num {
	color: #fff;
	font-weight: 500;
	&:not(:last-child) {
		margin-right: 60px;
	}
}

.slider-big-slide-num__value,
.slider-big-slide-num__text {
	display: block;
}

.slider-big-slide-num__value {
	margin-bottom: 5px;
	font-size: 2.625rem;
}

.slider-big-slide-num__text {
	font-size: 1.125rem;
	font-weight: bold;
}

.slide-big__nav {
	display: flex;
	justify-content: space-between;
	position: absolute;
	z-index: 2;
	bottom: 50px;
	right: 0;
	width: 100%;
	max-width: calc(64px*2 + 15px);
	transition: 0.15s all ease-out;
}

@media (max-width: 1024px) {
	.slider-big-slide__title {
		max-width: 750px;
	}
	.slider-big {
		max-width: 100%;
	}
	.slider-big-slide,
	.tns-horizontal.tns-subpixel>.tns-item.slider-big-slide {
		border-radius: 0;
	}
	.slide-big__nav {
		margin-right: 15px;
	}
	.slider-big-slide__inner {
		padding: 80px 15px;
	}
}

@media (max-width: 982px) {
	.slider-big-slide__title {
		font-size: 2.25rem;
		line-height: 3rem;
	}
	.slider-big-slide__text {
		font-size: 1rem;
	}
	.slider-big-slide__inner {
		padding: 60px 15px 50px;
	}
	.slider-big-slide-num__value {
		font-size: 2.25rem;
	}
	.slider-big-slide-num__text {
		font-size: 1rem;
	}
}

@media (max-width: 768px) {
	.slider-big-slide__title {
		max-width: 570px;
	}
	.slider-big-slide__text {
		font-size: 1rem;
		line-height: 1.625rem;
	}
	.slide-big__nav {
		max-width: calc(48px*2 + 10px);
	}
	.slider-big-slide__img {
		height: 100%;
		width: auto;
		min-width: 0;
	}
}

@media (max-width: 576px) {
	.slider-big-slide__inner {
		padding: 60px 15px 100px;
	}
	.slider-big-slide__title {
		font-size: 1.5rem;
		line-height: 2.25rem;
	}
	.slide-big__nav {
		justify-content: flex-end;
		margin: 0;
	}
	.slider-big__prev {
		display: none!important;
	}
	.slider-big-slide-numbers {
		max-width: 400px;
	}
	.slider-big-slide__title {
		margin-bottom: 30px;
		font-size: 1.4666666666666666rem;
		line-height: 2rem;
	}
}

@media (max-width: 470px) {
	.slide-big__nav {
		display: none;
	}
}

@media (max-width: 400px) {
	.slider-big-slide__btn {
		margin-bottom: 40px;
	}
	.slider-big-slide-num__value {
		font-size: 1.6rem;
	}
	.slider-big-slide-num__text {
		font-size: 0.9333rem;
	}
	.slider-big-slide-num {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
	.slider-big-slide__text {
		font-size: 1.067rem;
	}
}