.header-top {
    position: relative;
	z-index: 1;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0.5;
		background: #eaeaea;
	}
}

.header-top
.header-bottom {
    position: relative;
    z-index: 1;
}

.header-bottom {
	border-top: 1px solid rgba(234, 234, 234, 0.5);
}

.header-top__navbar {
	ul {
		display: flex;
		justify-content: space-between;
		z-index: 1;
		li {
			a {
				display: block;
				color: #6f6f6f;
				padding: 15px 5px;
				font-size: 0.875rem;
				&:hover {
					color: #FF223D;
				}
			}
			&:first-child {
				a {
					padding-left: 0;
				}
			}
		}
	}
}

.header-address__icon {
	display: block;
	padding-right: 10px;
	svg,
	path {
		height: 14px;
		fill: #333;
	}
}

.header-address__link {
	color: #000;
	font-size: 0.875rem;
}

.header-middle {
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.header-middle__logo {
	display: flex;
	align-items: center;
	flex: 0 1 190px;
	svg,
	img {
		flex: 1 1 100%;
		width: auto;
		max-height: 55px;
	}
}

.header-search {
    display: flex;
    align-items: center;
    flex: 1 1 100px;
	padding: 0 30px;
}

.header__contact {
    display: flex;
    justify-content: flex-end;
	padding-left: 0;
	.js-init-modal__form {
		font-size: 0.875rem;
		font-weight: 500;
	}
}

.header__phone {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
	margin-right: 30px;
	color: #333;
	font-size: 1.125rem;
	font-weight: 500;
	span {
		padding-left: 10px;
	}
	svg,
	path {
		height: 14px;
		fill: #333;
		transition: 0.3s all ease-out;
	}
	&:hover {
		color: #ff1e36;
		svg,
		path {
			fill: #ff1e36;
		}
	}
}

.header__call {
    display: inline-flex;
    align-items: center;
	justify-content: flex-end;
}

.menu__button {
    display: none;
    cursor: pointer;
}

.menu__dots {
	position: relative;
    height: 15px;
    width: 15px;
	margin-left: 5px;
	svg {
		position: absolute;
		top: -2px;
		left: 0;
		height: 18px;
		fill: #333;
	}
}

.header-bottom {
	border-top: 1px solid #eaeaea;
}

.header-catalog-menu {
	ul {
		display: flex;
		justify-content: space-between;
		& > li {
			flex: 0 0 auto;
			padding: 0 15px;
			cursor: pointer;
			& > a {
				position: relative;
				z-index: 1;
				display: block;
				width: 100%;
				padding: 18px 0;
				text-align: center;
				font-size: 1rem;
				color: #333;
				white-space: nowrap;
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2px;
					background: #ff1e36;
					opacity: 0;
					transition: 0.3s all ease-out;
				}
				&:hover {
					&:before {
						opacity: 1;
					}
				}
			}
			&.more__menu {
				position: relative;
				ul {
					position: relative;
					&:before {
						content: '';
						position: absolute;
						top: -3px;
						left: 0;
						width: 100%;
						height: 2px;
						background: #ff1e36;
						transition: 0.3s all ease-out;
					}
					li {
						a {
							&:hover {
								&:before {
									opacity: 0;
								}
							}
						}
					}
				}
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 2px;
			}
		}
	}
}

.header {
	.more-menu {
		flex: 0 1 auto;
		.more-menu__submenu {
			position: absolute;
			z-index: 2;
			display: flex;
			flex-direction: column;
			overflow: hidden;
			pointer-events: none;
			opacity: 0;
			right: 0;
			padding: 0;
			max-width: 300px;
			min-width: 250px;
			border-top: 1px solid #eaeaea;
			background-color: #fff;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
			transition: 0.3s all ease-out;
			li {
				padding: 0;
				transition: 0.3s all ease-out;
				a {
					display: block;
					padding: 20px 25px;
					color: #333;
					white-space: normal;
				}
				&:hover,
				&:focus {
					background: rgba(234, 234, 234, 0.5);
				}
			}
		}
		&:hover,
		&:focus
		.more-menu__link:hover,
		.more-menu__link:focus {
			.more-menu__submenu {
				overflow: visible;
				pointer-events: all;
				opacity: 1;
			}
		}
		.more-menu__link {
			display: flex;
			align-items: center;
			cursor: pointer;
		}
	}
}

@media (max-width: 1200px) {
	.header-middle__logo {
        flex-basis: 180px;
	}
    .header__phone {
		margin-right: 15px;
	}
	.header__phone a {
		font-size: 1rem;
	}
	.header-catalog-menu>ul>li>a,
	.header .more-menu .more-menu__submenu li a {
		font-size: 0.875rem;
	}
	.header .more-menu .more-menu__submenu li a,
	.header-catalog-menu ul li a {
		padding: 20px 0;
	}
}