.slider-big {
	position: relative;
}

.tns-horizontal.tns-subpixel>.tns-item.slider-big-slide {
	position: relative;
	padding: 90px 0;
	min-height: 460px;
	color: #fff;
	overflow: hidden;
}

.slider-big-slide__wrap {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-big-slide__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

.slider-big-slide__subtitle {
	margin-bottom: 5px;
	font-size: 0.9333rem;
	text-transform: uppercase;
}

.slider-big-slide__title {
	max-width: 500px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 3.2rem;
	line-height: 4rem;
	font-weight: bold;
}

.slider-big-slide__desc {
	margin-bottom: 20px;
	max-width: 350px;
	text-align: center;
	font-size: 1.067rem;
	line-height: 1.6rem;
}

.slide-big-dots {
	display: flex;
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translate(-50%, 0);
}

.slide-big-dots__item {
	margin: 0 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	&.tns-nav-active {
		background: #26AE60;
	}
}

.slide-big__nav {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	height: 100%;
	max-width: 1140px;
	pointer-events: none;
}

.slider-big__prev,
.slider-big__next {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	pointer-events: all;
}

.slider-big__prev {
	left: 0;
}

.slider-big__next {
	right: 0;
}

@media (max-width: 1230px) {
	.slider-big__prev {
		left: 15px;
	}
	.slider-big__next {
		right: 15px;
	}
}

@media (max-width: 768px) {
	.slider-big-slide__title {
		font-size: 2.4rem;
		line-height: 3.067rem;
	}
}

@media (max-width: 660px) {
	.slide-big__nav {
		display: none;
	}
	.tns-horizontal.tns-subpixel>.tns-item.slider-big-slide {
		padding: 60px 0 120px;
	}
}