/* autoprefixer grid: autoplace */
.products {
	padding: 88px 0;
	&.products--grey {
		background: #F8F8F8;
	}
}

.products__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.products__title,
.products__link-all {
	margin-bottom: 45px;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100%;
	padding: 75px 30px 40px;
	background: #fff;
	overflow: hidden;
	&.product--big {
		display: grid;
		grid-template-columns: 60% 40%;
		grid-auto-rows: max-content;
		padding: 40px 30px 30px 30px;
		.product__img {
			grid-column: 2;
			grid-row: 1/7;
			align-self: center;
			height: auto;
			max-height: 100%;
			max-width: 100%;
			margin: 0;
		}
		.product__btns {
			grid-column: 1;
			grid-row: 1;
			position: static;
			width: auto;
			margin-bottom: 30px;
			justify-content: flex-start;
		}
		.product__btn {
			transform: translate(-15px, 0);
		}
		.products__label {
			position: static;
			transform: translate(-15px, 0);
		}
		.product__name,
		.product__subtitle,
		.products__price {
			text-align: left;
		}
		.product__name {
			grid-column: 1;
			grid-row: 2;
			margin-bottom: 10px;
		}
		.product__subtitle {
			grid-column: 1;
			grid-row: 4;
			margin-bottom: 10px;
		}
		.products__text {
			margin-top: 35px;
		}
		.product__rating {
			grid-column: 1;
			grid-row: 3;
		}
		.products__price {
			grid-column: 1;
			grid-row: 5;
		}
		.products__text {
			grid-column: 1;
			grid-row: 6;
		}
	}
}

.product__rating {
	margin-bottom: 20px;
}

.product__img {
	margin-bottom: 20px;
	height: 215px;
}

.product__name,
.product__subtitle {
	display: block;
	text-align: center;
}

.product__name {
	margin-bottom: 5px;
	color: #000;
	font-size: 1.067rem;
	line-height: 1.333rem;
	font-weight: bold;
	text-transform: uppercase;
}

.product__subtitle {
	margin-bottom: 40px;
	color: #7E7E7E;
	font-size: 0.9333rem;
	line-height: 1.133rem;
	font-weight: 500;
}

.product__btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 25px;
	left: 30px;
	width: calc(100% - 30px*2);
}

.product__btn {
	padding: 15px;
	background: none;
	border: none;
	cursor: pointer;
	svg {
		fill: #000;
	}
}

.products__price {
	text-align: center;
	color: #26AE60;
	font-size: 1.6rem;
	font-weight: bold;
}

.products__label {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 25px;
	left: 50%;
	transform: translate(-50%, 0);
	.label {
		margin: 0 15px;
	}
}

.products__text {
	max-width: 250px;
	font-size: 1.067rem;
	line-height: 1.6rem;
	color: #7E7E7E;
}

@media (max-width: 768px) {
	.product {
		&.product--big {
			display: flex;
			align-items: flex-start;
			padding-bottom: 150px;
			.product__img  {
				position: absolute;
				top: calc(100% - 100px);
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
	}
}