.about {
	position: relative;
	padding: 88px 0;
	&.about_news {
		z-index: 2;
		padding: 88px 0 0 0;
		margin-top: -300px;
		.about__wrap {
			transform: translate(0, 300px);
		}
	}
	&.about_grey {
		background: #f8f8f8;
	}
}

.about__wrap {
	display: flex;
	flex-wrap: wrap;
}

.about__img {
	position: relative;
	overflow: hidden;
	flex: 1 1 auto;
	background: #F5F5F5;
	img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		min-height: 100%;
		min-width: 100%;
	}
}

.about__content {
	flex: 1 0 auto;
	max-width: 60%;
	padding: 30px 80px 60px;
	background: #fff;
}

.about__text {
	margin-bottom: 60px;
}

@media (max-width: 992px) {
	.about__content {
		padding: 20px 60px 50px
	}
}

@media (max-width: 767px) {
	.about__img {
		display: none;
	}
	.about__content {
		max-width: 100%;
		padding: 20px 35px 35px;
	}
	.about {
		padding: 65px 0;
		&.about_news {
			padding: 65px 0 0 0;
		}
	}
}