.header {
    background-color: #fff;
}

.header__top {
	padding: 30px 0;
	border-bottom: 1px solid #ececec;
}

.header__top .container {
    position: relative;
}

.header__logo a {
    max-width: 180px;
    flex: 0 1 190px;
    height: 51px;
    display: block;
}

.header__hamburger {
    background-color: transparent;
    border: none;
    width: 44px;
    height: 38px;
    padding: 10px;
	cursor: pointer;
	span {
		display: block;
		position: relative;
		width: 24px;
		height: 2px;
		background-color: black;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 24px;
			height: 2px;
			background-color: black;
			transition: 0.3s all ease-out;
		}
		&:before {
			top: 9px;
		}
		&:after {
			bottom: 9px;
		}
	}
	.fixed {
		z-index: 1001;
		position: fixed;
		span {
			pointer-events: all;
			background-color: transparent;
			&:after {
				background-color: black;
				opacity: 1;
				top: calc(50% - 1px);
				transform: rotate(135deg);
			}
			&:before {
				background-color: black;
				opacity: 1;
				top: auto;
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}

.header__block {
    display: flex;
    align-items: flex-start;
    max-width: fit-content;
    flex: 1 1 auto;
}

.header-contact__icon {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-right: 10px;
	svg {
		height: 20px;
		margin-top: 2px;
		fill: #333;
	}
}

.header-contact__info {
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
	a {
		line-height: 1.5em;
		transition: 0.3s all ease-out;
	}
	span {
		line-height: 1.5em;
	}
}

.header-logo__link {
    max-width: 185px;
    margin-left: 30px;
}

.header-contact__number {
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
}

.header__search-toggle {
	position: relative;
	display: block;
    width: 42px;
    height: 42px;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	transition: 0.3s all ease-out;
}

.header-search-toggle__icon-search,
.header-search-toggle__icon-close {
	height: 100%;
	width: 100%;
	svg {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		height: 20px;
		fill: #333;
		transition: 0.3s all ease-out;
	}
}

.header-search-toggle__icon-close {
    opacity: 0;
}

.header__search.fixed {
    z-index: 1001;
}

.header-search-panel {
    display: flex;
    align-items: center;
    position: absolute;
    top: -30px;
	left: 15px;
	transform: translate(0, -100%);
    width: calc(100% - 60px);
    height: calc(100% + 30px*2);
    background-color: #fff;
    z-index: 1000;
    transition: 0.3s;
	opacity: 0;
	.search-form {
		width: 100%;
	}
	.search-form__input {
		width: 100%;
		padding: 10px 15px 10px 30px;
		border-radius: 5px;
		border: none;
		background-color: #eaeaea;
		color: #8b8b8b;
	}
	.search-form__button {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translate(0, -50%);
		border: none;
		background: none;
		svg {
			fill: #333;
		}
	}
	.search-form__icon {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translate(0, -50%);
	}
	&.header-search-panel_open {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@media screen and (min-width:320px) and (max-width:1200px) {
	.header__top {
		padding: 15px 0;
	}
	.header-contact__info {
		a {
			font-size: 1rem;
		}
	}
    .header-catalog-menu>ul>li>a {
		padding: 15px 10px;
	}
	.header-search-panel {
		top: -15px;
    	height: calc(100% + 15px*2);
	}
}