<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&amp;subset=cyrillic" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="dist\css\styles.css">
	<style>
		body,
		html {
			font-size: 15px;
			font-family: 'Montserrat', sans-serif;
		}
		.block__test {
			padding: 40px 0;
		}
	</style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Кнопки</h2>
            <div class="block__test">
                <button class="btn btn_min btn_primary">Кнопка</button>
                <button class="btn btn_min btn_secondary">Кнопка</button>
                <button class="btn btn_min btn_success">Кнопка</button>
			</div>
			<div class="block__test">
				<button class="btn btn_mid btn_primary">Кнопка</button>
				<button class="btn btn_mid btn_secondary">Кнопка</button>
				<button class="btn btn_mid btn_success">Кнопка</button>
			</div>
			<div class="block__test">
				<button class="btn btn_big btn_primary">Кнопка</button>
				<button class="btn btn_big btn_secondary">Кнопка</button>
				<button class="btn btn_big btn_success">Кнопка</button>
			</div>
			<div class="block__test">
				<button class="btn btn_mid btn_outline-primary">Кнопка</button>
				<button class="btn btn_mid btn_outline-secondary">Кнопка</button>
				<button class="btn btn_mid btn_outline-success">Кнопка</button>
				<button class="btn btn_mid btn_outline-light">Кнопка</button>
			</div>
			<div class="block__test">
				<button class="btn btn_mid btn_round btn_outline-primary">Кнопка</button>
				<button class="btn btn_mid btn_round btn_outline-secondary">Кнопка</button>
				<button class="btn btn_mid btn_round btn_outline-success">Кнопка</button>
				<button class="btn btn_mid btn_round btn_outline-light">Кнопка</button>
			</div>
			<div class="block__test">
				<button class="btn btn_mid btn_round btn_blocked">Кнопка</button>
			</div>
			<div class="block__test">
				<button class="btn btn_circle-default btn_outline-primary">
					<svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 3V0L4 4L8 8V5C11.31 5 14 7.69 14 11C14 12.01 13.75 12.97 13.3 13.8L14.76 15.26C15.54 14.03 16 12.57 16 11C16 6.58 12.42 3 8 3ZM8 17C4.69 17 2 14.31 2 11C2 9.99 2.25 9.03 2.7 8.2L1.24 6.74C0.46 7.97 0 9.43 0 11C0 15.42 3.58 19 8 19V22L12 18L8 14V17Z"/></svg>
				</button>
				<button class="btn btn_circle-min btn_outline-primary">
					<svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 3V0L4 4L8 8V5C11.31 5 14 7.69 14 11C14 12.01 13.75 12.97 13.3 13.8L14.76 15.26C15.54 14.03 16 12.57 16 11C16 6.58 12.42 3 8 3ZM8 17C4.69 17 2 14.31 2 11C2 9.99 2.25 9.03 2.7 8.2L1.24 6.74C0.46 7.97 0 9.43 0 11C0 15.42 3.58 19 8 19V22L12 18L8 14V17Z"/></svg>
				</button>
				<button class="btn btn_circle-min btn_outline-light">
					<svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 3V0L4 4L8 8V5C11.31 5 14 7.69 14 11C14 12.01 13.75 12.97 13.3 13.8L14.76 15.26C15.54 14.03 16 12.57 16 11C16 6.58 12.42 3 8 3ZM8 17C4.69 17 2 14.31 2 11C2 9.99 2.25 9.03 2.7 8.2L1.24 6.74C0.46 7.97 0 9.43 0 11C0 15.42 3.58 19 8 19V22L12 18L8 14V17Z"/></svg>
				</button>
			</div>
			<div class="block__test">
				<button class="btn btn_circle-default btn_primary">
					<svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 3V0L4 4L8 8V5C11.31 5 14 7.69 14 11C14 12.01 13.75 12.97 13.3 13.8L14.76 15.26C15.54 14.03 16 12.57 16 11C16 6.58 12.42 3 8 3ZM8 17C4.69 17 2 14.31 2 11C2 9.99 2.25 9.03 2.7 8.2L1.24 6.74C0.46 7.97 0 9.43 0 11C0 15.42 3.58 19 8 19V22L12 18L8 14V17Z"/></svg>
				</button>
				<button class="btn btn_circle-min btn_primary">
					<svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 3V0L4 4L8 8V5C11.31 5 14 7.69 14 11C14 12.01 13.75 12.97 13.3 13.8L14.76 15.26C15.54 14.03 16 12.57 16 11C16 6.58 12.42 3 8 3ZM8 17C4.69 17 2 14.31 2 11C2 9.99 2.25 9.03 2.7 8.2L1.24 6.74C0.46 7.97 0 9.43 0 11C0 15.42 3.58 19 8 19V22L12 18L8 14V17Z"/></svg>
				</button>
			</div>
			<h2>Ссылки</h2>
			<div class="block__test">
				<a href="#" class="link link_primary">Кнопка</a>
				<a href="#" class="link link_secondary">Кнопка</a>
				<a href="#" class="link link_success">Кнопка</a>
				<a href="#" class="link link_primary link_icon-right">Ссылка с иконкой <img src="main/images/icons/icon.png" alt=""></a>
				<a href="#" class="link link_primary link_icon-left"><img src="main/images/icons/icon.png" alt="">Ссылка с иконкой</a>
			</div>
            <h2>Поля ввода</h2>
			<form action="#" class="form-stroke" style="width: 255px" class="block__test">
                <div class="form-field">
                    <input type="text" placeholder="Текст" class="input input_round">
				</div>
				<div class="form-field">
					<input type="text" placeholder="Текст" class="input input_underline">
				</div>
				<div class="form-field">
					<input type="text" placeholder="Текст" class="input input_round" disabled>
				</div>
				<div class="form-field">
					<input type="text" placeholder="Текст" class="input input_underline" disabled>
				</div>
				<div class="form-field form-field_error">
					<input type="text" placeholder="Текст" class="input input_round">
					<div class="form-field__error">Ошибка</div>
				</div>
				<div class="form-field form-field_error">
					<input type="text" placeholder="Текст" class="input input_underline">
					<div class="form-field__error">Ошибка</div>
				</div>
				<div class="form-field">
					<input type="text" placeholder="Текст" class="input input_round input_icon-right">
					<span class="form-field__icon">
						<svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#969696" fill-rule="evenodd" clip-rule="evenodd" d="M9.375 8.25H8.7825L8.5725 8.0475C9.3075 7.1925 9.75 6.0825 9.75 4.875C9.75 2.1825 7.5675 0 4.875 0C2.1825 0 0 2.1825 0 4.875C0 7.5675 2.1825 9.75 4.875 9.75C6.0825 9.75 7.1925 9.3075 8.0475 8.5725L8.25 8.7825V9.375L12 13.1175L13.1175 12L9.375 8.25ZM4.875 8.25C3.0075 8.25 1.5 6.7425 1.5 4.875C1.5 3.0075 3.0075 1.5 4.875 1.5C6.7425 1.5 8.25 3.0075 8.25 4.875C8.25 6.7425 6.7425 8.25 4.875 8.25Z"/></svg>
					</span>
				</div>
				<div class="form-field">
					<input type="text" placeholder="Текст" class="input input_underline input_icon-right">
					<span class="form-field__icon">
						<svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#969696" fill-rule="evenodd" clip-rule="evenodd" d="M9.375 8.25H8.7825L8.5725 8.0475C9.3075 7.1925 9.75 6.0825 9.75 4.875C9.75 2.1825 7.5675 0 4.875 0C2.1825 0 0 2.1825 0 4.875C0 7.5675 2.1825 9.75 4.875 9.75C6.0825 9.75 7.1925 9.3075 8.0475 8.5725L8.25 8.7825V9.375L12 13.1175L13.1175 12L9.375 8.25ZM4.875 8.25C3.0075 8.25 1.5 6.7425 1.5 4.875C1.5 3.0075 3.0075 1.5 4.875 1.5C6.7425 1.5 8.25 3.0075 8.25 4.875C8.25 6.7425 6.7425 8.25 4.875 8.25Z"/></svg>
					</span>
				</div>
				<div class="form-field">
					<textarea cols="30" rows="10" placeholder="Текст" class="input input_textarea input_round">Текстовое поле</textarea>
				</div>
				<div class="form-field">
					<textarea cols="30" rows="10" placeholder="Текст" class="input input_textarea input_underline">Текстовое поле</textarea>
				</div>
			</form>

            <h2>Чекбоксы</h2>
			<div class="block__test">
				<label class="checkbox">
					<input type="checkbox" name="checkbox" value="one" disabled>
					<span class="checkbox__inner"></span>
					<span class="checkbox__text">Неактивен</span>
				</label>
				<label class="checkbox">
					<input type="checkbox" name="checkbox" value="two" checked="checked">
					<span class="checkbox__inner"></span>
					<span class="checkbox__text">Выбрано</span>
				</label>
				<label class="checkbox">
					<input type="checkbox" name="checkbox" value="three">
					<span class="checkbox__inner"></span>
					<span class="checkbox__text">Не выбрано</span>
				</label>


				<label class="checkbox__circle">Two
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
				<label class="checkbox__switch">
					<input type="checkbox" />
					<div class="checkbox__text">Three</div>
				</label>
			</div>
            <h2>Радиокнопки</h2>
            
            <label class="radio__square">One
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="radio__circle">Two
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            
            <label class="radio__switch">
                <input type="radio" name="radio"/>
                <div class="radio__text">Three</div>
            </label>
            
            <h2>Вкладки</h2>
            
            <div class="tabs tabs__circle tabs__circle--min">
                <div class="tabs__item tabs__item--active">TAB</div>
                <div class="tabs__item">TAB</div>
                <div class="tabs__item">TAB</div>
            </div>
            
            <div class="tabs tabs__circle tabs__circle--mid">
                <div class="tabs__item tabs__item--active">TAB</div>
                <div class="tabs__item">TAB</div>
                <div class="tabs__item">TAB</div>
            </div>
            
            <div class="tabs tabs__circle tabs__circle--max">
                <div class="tabs__item tabs__item--active">TAB</div>
                <div class="tabs__item">TAB</div>
                <div class="tabs__item">TAB</div>
            </div>
            
            <div class="tabs tabs__line tabs__line--min">
                <div class="tabs__item tabs__item--active">TAB</div>
                <div class="tabs__item">TAB</div>
                <div class="tabs__item">TAB</div>
            </div>
            
            <div class="tabs tabs__line tabs__line--mid">
                <div class="tabs__item tabs__item--active">TAB</div>
                <div class="tabs__item">TAB</div>
                <div class="tabs__item">TAB</div>
            </div>
            
            <div class="tabs tabs__line tabs__line--max">
                <div class="tabs__item tabs__item--active">TAB</div>
                <div class="tabs__item">TAB</div>
                <div class="tabs__item">TAB</div>
            </div>
            
            <h2>Алерты</h2>
            
            <div class="alert alert__big alert__info">
                <div class="alert__left">
                    <div class="alert__icon"></div>
                    <div class="alert__text">
                        <div class="alert__title">Information</div>
                        <div class="alert__desc">Long sample text</div>
                    </div>
                </div>
                <button class="alert__close">
                    <img src="main/images/icons/close.png" alt="">
                </button>
            </div>
            <div class="alert alert__big alert__warning">
                <div class="alert__left">
                    <div class="alert__icon"></div>
                    <div class="alert__text">
                        <div class="alert__title">Warning</div>
                        <div class="alert__desc">Long sample text</div>
                    </div>
                </div>
                <button class="alert__close">
                    <img src="main/images/icons/close.png" alt="">
                </button>
            </div>
            <div class="alert alert__big alert__error">
                <div class="alert__left">
                    <div class="alert__icon"></div>
                    <div class="alert__text">
                        <div class="alert__title">Error</div>
                        <div class="alert__desc">Long sample text</div>
                    </div>
                </div>
                <button class="alert__close">
                    <img src="main/images/icons/close.png" alt="">
                </button>
            </div>
            <div class="alert alert__big alert__success">
                <div class="alert__left">
                    <div class="alert__icon"></div>
                    <div class="alert__text">
                        <div class="alert__title">Success</div>
                        <div class="alert__desc">Long sample text</div>
                    </div>
                </div>
                <button class="alert__close">
                    <img src="main/images/icons/close.png" alt="">
                </button>
            </div>
    
            <div class="alert alert__min alert__info">
                <div class="alert__left">
                    <div class="alert__icon"></div>
                    <div class="alert__text">
                        <div class="alert__title">Information</div>
                        <div class="alert__desc">Long sample text</div>
                    </div>
                </div>
                <button class="alert__close">
                    <img src="main/images/icons/close.png" alt="">
                </button>
            </div>
            <div class="alert alert__min alert__warning">
                <div class="alert__left">
                    <div class="alert__icon"></div>
                    <div class="alert__text">
                        <div class="alert__title">Warning</div>
                        <div class="alert__desc">Long sample text</div>
                    </div>
                </div>
                <button class="alert__close">
                    <img src="main/images/icons/close.png" alt="">
                </button>
            </div>
            <div class="alert alert__min alert__error">
                <div class="alert__left">
                    <div class="alert__icon"></div>
                    <div class="alert__text">
                        <div class="alert__title">Error</div>
                        <div class="alert__desc">Long sample text</div>
                    </div>
                </div>
                <button class="alert__close">
                    <img src="main/images/icons/close.png" alt="">
                </button>
            </div>
            <div class="alert alert__min alert__success">
                <div class="alert__left">
                    <div class="alert__icon"></div>
                    <div class="alert__text">
                        <div class="alert__title">Success</div>
                        <div class="alert__desc">Long sample text</div>
                    </div>
                </div>
                <button class="alert__close">
                    <img src="main/images/icons/close.png" alt="">
                </button>
            </div>
            
        </div>
    </div>
</div>
<script src="dist\js\index.js"></script>

</body>
</html>