.header {
	background-color: #fff;
}

.header__top {
    border-bottom: 1px solid #ececec;
    padding: 30px 0;
}

.header-logo {
	flex: 0 1 400px;
}

.header-logo__link {
	display: block;
	flex: 0 0 190px;
	height: 51px;
	margin-right: 15px;
}

.header-logo__name {
	flex: 0 0 180px;
}

.header__burger-wrap {
    width: 74px;
    height: 38px;
}

.header__hamburger {
    background-color: transparent;
    border: none;
    width: 44px;
    height: 38px;
    padding: 10px;
	cursor: pointer;
	span {
		display: block;
		position: relative;
		width: 24px;
		height: 2px;
		background-color: black;
		border-radius: 1px;
		&:after,
		&:before {
			content: '';
			position: absolute;
			left: 0;
			width: 24px;
			height: 2px;
			background-color: black;
			transition: 0.3s all ease-out;
		}
		&:before {
			top: 9px;
		}
		&:after {
			bottom: 9px;
		}
	}
	&.header__hamburger_fixed {
		z-index: 1001;
		position: fixed;
		transform: translateX(-10px);
		span {
			pointer-events: all;
			background-color: transparent;
			&:after {
				background-color: black;
				opacity: 1;
				top: calc(50% - 1px);
				transform: rotate(135deg);
			}
			&:before {
				background-color: black;
				opacity: 1;
				top: auto;
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}

.header__block {
    display: inline-flex;
    align-items: flex-start;
    max-width: fit-content;
    flex: 1 1 auto;
}

.header-contact {
	display: inline-flex;
	align-items: flex-start;
}

.header-contact__icon {
	margin: 4px 10px 0 0;
	svg {
		height: 20px;
		fill: #333;
	}
}

.header-contact__info {
	display: flex;
    flex-direction: column;
	justify-content: flex-start;
	span {
		display: block;
		line-height: 1.5em;
	}
}

.header-contact__number {
	margin-bottom: 5px;
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
}

.header__search-toggle {
	position: relative;
	display: block;
    width: 42px;
    height: 42px;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	transition: 0.3s all ease-out;
	&.header-search-toggle__fixed {
		.header-search-toggle__icon-close {
			opacity: 1;
			visibility: visible;
		}
		.header-search-toggle__icon-search {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.header-search-toggle__icon-search {
	opacity: 1;
	visibility: visible;
}

.header-search-toggle__icon-search,
.header-search-toggle__icon-close {
	height: 100%;
	width: 100%;
	transition: 0.3s all ease-out;
	svg {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		height: 20px;
		fill: #333;
		transition: 0.3s all ease-out;
	}
}

.header-search-toggle__icon-close {
	opacity: 0;
	visibility: hidden;
}

.header__search.fixed {
    z-index: 1001;
}

.header-search-panel {
    display: flex;
    align-items: center;
    position: absolute;
    top: -30px;
	left: 15px;
	transform: translate(0, -100%);
    width: calc(100% - 60px);
    height: calc(100% + 30px*2);
    background-color: #fff;
    z-index: 1000;
    transition: 0.3s;
	opacity: 0;
	.search-form {
		width: 100%;
	}
	.search-form__input {
		width: 100%;
		padding: 10px 15px 10px 30px;
		border-radius: 5px;
		border: none;
		background-color: #eaeaea;
		color: #8b8b8b;
	}
	.search-form__button {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translate(0, -50%);
		border: none;
		background: none;
		svg {
			fill: #333;
		}
	}
	.search-form__icon {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translate(0, -50%);
	}
	&.header-search-panel_open {
		transform: translate(0, 0);
		opacity: 1;
	}
}

.header-menu {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition: 0.3s all ease-out;
	&.header-menu__show {
		visibility: visible;
		pointer-events: all;
		opacity: 1;
	}
	.container,
	.header-menu__content {
		height: 100%;
	}
	a {
		display: block;
		min-height: 45px;
		color: #2D2D2D;
	}
	.header-menu__content {
		padding: 140px 0 15px;
		& > ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px -90px;
			& > li {
				flex: 1 0 auto;
				flex-basis: calc(100% / 4);
				max-width: calc(100% / 4);
				padding: 0 15px 90px;
				font-size: 1.2rem;
				line-height: 1.467rem;
				font-weight: bold;
			}
		}
	}
	.menu__dots {
		display: none;
	}
	.submenu,
	.more-menu__submenu {
		padding: 30px 0 0 0;
		li {
			a {
				padding: 5px 0;
				min-height: 0;
				font-size: 1rem;
				line-height: 1.2rem;
				font-weight: normal;
			}
		}
	}
}

@media (max-width:1200px) {
	.header-search-panel {
		top: -15px;
    	height: calc(100% + 15px*2);
	}
	.header-logo {
		flex: 0 1 auto;
	}
	.header-logo__name {
		display: none;
	}
	.header-contact__info,
	.header-contact__info a {
		font-size: 0.9333rem;
	}
}