.reviews {
	padding: 88px 0;
	background: #34495E;
}

.reviews__title {
	margin-bottom: 40px;
	color: #fff;
	text-align: center;
}

.reviews-logos {
	margin-bottom: 40px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.reviews-logos__item {
	padding: 30px;
	opacity: 0.5;
	cursor: pointer;
	img {
		pointer-events: none;
	}
}

.reviews-desc {

}

.reviews-desc-item {
	color: #fff;
}

.reviews-desc-item__text {
	margin: 0 auto 35px;
	max-width: 800px;
	text-align: center;
	opacity: 0.8;
	font-size: 1.6rem;
	line-height: 2.133rem;
}

.reviews-desc-item__title {
	margin: 0 auto 15px;
	font-weight: bold;
	text-align: center;
	font-size: 1.333rem;
	line-height: 1.6rem;
}

.reviews-desc-item__date {
	margin: 0 auto 20px;
	font-size: 1.067rem;
	line-height: 1.6rem;
	text-align: center;
}

.reviews-desc-item__link {
	justify-content: center;
}

@media (max-width: 400px) {
	.reviews {
		padding: 50px 0;
	}
	.reviews-desc-item__text {
		font-size: 1.2rem;
		line-height: 2rem;
	}
}