.header {
    background-color: #fff;
}
.header__top {
    border-bottom: 1px solid #ececec;
    padding: 30px 0;
}
.header__logo a {
    max-width: 180px;
    flex: 0 1 190px;
    height: 51px;
    display: block;
}
.header__block {
    display: flex;
    align-items: center;
    max-width: fit-content;
    flex: 1 1 auto;
}
.header__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    margin-right: 19px;
    padding: 15px;
    border: 1px solid #ebebeb;
    border-radius: 50px;
}
.header__desc {
    max-width: 185px;
    line-height: 1.5em;
    margin-left: 22px;
}
.header__desc p {
    margin: 0;
}
.header__phone {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    justify-content: flex-end;
}
.header__phone a {
    color: #333;
    padding-left: 10px;
    font-weight: 500;
    font-size: 1.125rem;
    text-decoration: none;
    -webkit-transition: 250ms;
    transition: 250ms;
}
.header__modal {
    font-size: 14px;
    font-weight: bold;
}
.header__bottom {
    border-bottom: 1px solid #ececec;
}
.header__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}
.header__list li {
    flex-basis: auto;
    flex-grow: 1;
}
.header__list li a {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    padding: 14px 25px;
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 1;
    border-bottom: 2px solid transparent;
}
.header__list li a:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    z-index: -1;
}
.header__list li a:hover {
    border-bottom: 2px solid #f5f5f5;
}
.header__list li a:hover:before {
    opacity: 0.05;
    background-color: black;
    transition: 300ms;
}
.header__list li a.js-init_more_menu {
    padding-left: 40px;
    padding-right: 15px;
}
.header__list li.more__menu {
    position: relative;
}
.header__list li.more__menu .submenu {
    display: none;
    flex-direction: column;
    margin: 0;
    list-style: none;
    background-color: #fff;
    max-width: 300px;
    min-width: 250px;
    position: absolute;
    right: 0;
    z-index: 1;
    border-top: 1px solid #eaeaea;
    padding: 0;
    box-shadow: 0 5px 15px rgba(28, 28, 28, 0.15);
}
.header__list li.more__menu .submenu li a {
    text-align: left;
    padding: 15px 25px;
    white-space: normal;
}
.header__list li.more__menu:hover > a:before, .header__list li.more__menu:focus > a:before {
    opacity: 0.1;
}
.header__list li.more__menu:hover .submenu, .header__list li.more__menu:focus .submenu {
    display: flex;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
    .header__desc {
        margin-left: 0;
    }
    .header__desc p {
        display: none;
    }
    .header__phone {
        margin-right: 10px;
    }
    .header__phone a {
        font-size: 1em;
    }
}
