/* autoprefixer grid: autoplace */

.reviews {
	padding: 88px 0;
}

.reviews__inner {
	display: grid;
	grid-template-columns: 1fr 215px;
	grid-auto-rows: max-content;
}

.reviews__title,
.reviews__link-all {
	margin-bottom: 45px;
}

.reviews__title {
	grid-row: 1;
	grid-column: 1;
}

.reviews__link-all {
	grid-column: 2;
	grid-row: 1;
	font-size: 0.9333rem;
}

.reviews-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	grid-column: 1/3;
	grid-row: 2;
	margin: 0 -15px -30px;
}

.reviews-list__item {
	flex: 1 0 calc(100% / 3);
	max-width: calc(100% / 3);
	padding: 0 15px 30px;
}

.reviews-list-item__wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 40px 30px 50px;
	border-radius: 4px;
	background: #F8F8F8;
}

.reviews-list-item__text {
	margin-bottom: 25px;
	color: #1B1B1B;
	opacity: 0.6;
	font-size: 1.2rem;
	line-height: 1.867rem;
	font-weight: 500;
}

.reviews-list-item__author-wrap {
	display: grid;
	grid-template-columns: 1fr 60px;
	grid-auto-rows: max-content;
}

.reviews-list-item__author,
.reviews-list-item__proff {
	font-weight: 500;
	font-size: 0.9333rem;
}

.reviews-list-item__author {
	grid-column: 1;
	grid-row: 1;
	color: #1B1B1B;
	font-size: 0.9333rem;
	line-height: 1.6rem;
	text-transform: uppercase;
}

.reviews-list-item__proff {
	grid-column: 1;
	grid-row: 2;
	color: #9B9B9B;
	line-height: 1.2rem;
}

.reviews-list-item__img {
	grid-column: 2;
	grid-row: span 2;
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
	}
}

@media (max-width: 1024px) {
	.reviews-list__item {
		flex: 1 0 calc(100% / 2);
		max-width: calc(100% / 2);
	}
	.reviews-list-item__wrap {
		min-height: 370px;
		padding: 40px 30px;
	}
}

@media (max-width: 768px) {
	.reviews-list {
		margin: 0 0 -30px;
	}
	.reviews-list__item {
		flex: 1 0 100%;
		max-width: 100%;
		padding: 0 0 30px;
	}
	.reviews-list-item__wrap {
		min-height: 300px;
	}
}

@media (max-width: 576px) {
	.reviews {
		padding: 60px 0;
	}
	.reviews__inner {
		grid-template-columns: 1fr;
	}
	.reviews__link-all {
		grid-column: 1;
		grid-row: 3;
	}
	.reviews__title {
		margin-bottom: 30px;
	}
	.reviews__link-all {
		margin: 40px 0 0 0;
	}
}

@media (max-width: 400px) {
	.reviews-list-item__wrap {
		padding: 30px 25px;
	}
	.reviews-list-item__wrap {
		min-height: 350px;
	}
	.reviews-list-item__author-wrap {
		display: flex;
		flex-direction: column;
	}
	.reviews-list-item__img {
		order: 0;
		margin-bottom: 15px;
	}
	.reviews-list-item__author,
	.reviews-list-item__proff {
		order: 1;
	}
}