@import './reset.scss';
@import './bootstrap.scss';
@import './util.scss';

@import 'blocks/h.scss';
@import 'blocks/btn.scss';
@import 'blocks/link.scss';
@import 'blocks/form-field.scss';
@import 'blocks/input.scss';
@import 'blocks/select.scss';
@import 'blocks/checkobx.scss';
@import 'blocks/radiobutton.scss';
@import 'blocks/tabs.scss';
@import 'blocks/alerts.scss';
@import 'blocks/label.scss';
@import 'blocks/text.scss';

@import '../../../node_modules/tiny-slider/dist/tiny-slider.css';
@import 'blocks/modal.scss';

@import 'blocks/search.scss';
@import 'blocks/grid.scss';
@import 'blocks/product.scss';
@import 'blocks/service.scss';
@import 'blocks/text-block.scss';

@import 'blocks/sidebar.scss';
@import 'blocks/catalog-menu.scss';
@import 'blocks/sidebar-news.scss';
@import 'blocks/sub-category.scss';
@import 'blocks/breadcumbs.scss';
@import 'blocks/page-header.scss';
@import 'blocks/page.scss';
@import 'blocks/product-info.scss';
@import 'blocks/product-slider.scss';
@import 'blocks/specifications.scss';
@import 'blocks/product-block.scss';
@import 'blocks/product-labels.scss';
@import 'blocks/news-list.scss';
@import 'blocks/stock-list.scss';
@import 'blocks/news-detail.scss';
@import 'blocks/branches.scss';
@import 'blocks/filials-page.scss';

html,
body {
	font-family: "Montserrat", sans-serif;
}

@media (max-width: 1024px) {
	.container {
		max-width: 100%;
	}
}

.logo-circle {
	fill: #ff1e36;
}

.product-detain-wrap {
	margin-bottom: 60px;
}

.product-desc {
	padding: 30px 0 0 0;
}