.header-top {
    position: relative;
    z-index: 1;
}
.header-top:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.05;
}
.header-bottom {
    position: relative;
    z-index: 1;
    border-top: 1px solid #eaeaea;
}
.header-top_navbar {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
}
.header-top_navbar li {
    margin-right: 35px;
}
.header-top_navbar li a {
    display: block;
    color: #aaa9ad;
    padding: 12px 0;
    font-size: 0.875rem;
    text-decoration: none;
}
.header-top_navbar li a:hover, .header-top_navbar li a:active, .header-top_navbar li a:focus {
    transition: 300ms;
}
.header-address {
    font-style: normal;
    transition: 50ms;
}
.header-address .icon__geo {
    display: block;
    padding-right: 10px;
}
.header-address .address__link {
    position: relative;
    font-size: 0.875rem;
    text-decoration: none;
    color: #000;
}
.header-address path {
    fill: #333;
}
.header-middle {
    display: flex;
    align-items: center;
    padding: 25px 0;
}
.header-logo {
    max-width: 220px;
    flex: 0 1 220px;
}
.header-logo a {
    display: block;
    width: 100%;
    height: 50px;
}
.header-logo .logo__link {
    display: flex;
    align-items: center;
}
.header-logo img {
    flex: 1 1 100%;
    width: auto;
}
.header-logo:focus, .header-logo:active {
    outline: none;
}
.header-search {
    display: flex;
    align-items: center;
}
.header-contact {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
}
.header-phone {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
.header-phone a {
    color: #333;
    padding-left: 10px;
    font-weight: 500;
    font-size: 1.125rem;
    text-decoration: none;
    transition: 250ms;
}
.header-phone a:hover, .header-phone a:focus {
    transition: 400ms;
}
.header-callback {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}
.header-callback a {
    text-decoration: none;
}
.menu__button {
    display: none;
    cursor: pointer;
}
.btn-btn_circle {
    position: absolute;
    top: 0;
    right: 0;
}
.btn-btn_circle .icon__arrow_small_right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-btn_circle path {
    transition: 50ms;
    fill: #fff;
}
.menu__dots {
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #333;
    border-radius: 50%;
    top: calc(50% - 2px);
    left: 28px;
}
.menu__dots:before, .menu__dots:after {
    content: '';
    position: absolute;
    display: inline-block;
    background: #333;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}
.menu__dots:before {
    left: -7px;
}
.menu__dots:after {
    right: -7px;
}
.header-bottom .catalog__menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}
.header-bottom .catalog__menu li {
    flex-basis: auto;
    flex-grow: 1;
}
.header-bottom .catalog__menu li a {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    padding: 14px 25px;
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 1;
    border-bottom: 2px solid transparent;
}
.header-bottom .catalog__menu li a:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    z-index: -1;
}
.header-bottom .catalog__menu li a:hover {
    border-bottom: 2px solid #f5f5f5;
}
.header-bottom .catalog__menu li a:hover:before {
    opacity: 0.05;
    transition: 300ms;
}
.header-bottom .catalog__menu li a.js-init_more_menu {
    padding-left: 40px;
    padding-right: 15px;
}
.header-bottom .catalog__menu li.more__menu {
    position: relative;
}
.header-bottom .catalog__menu li.more__menu .submenu {
    display: none;
    flex-direction: column;
    margin: 0;
    list-style: none;
    background-color: #fff;
    max-width: 300px;
    min-width: 250px;
    position: absolute;
    right: 0;
    z-index: 1;
    border-top: 1px solid #eaeaea;
    padding: 0;
    box-shadow: 0 5px 15px rgba(28, 28, 28, 0.15);
}
.header-bottom .catalog__menu li.more__menu .submenu li a {
    text-align: left;
    padding: 15px 25px;
    white-space: normal;
}
.header-bottom .catalog__menu li.more__menu:hover > a:before, .header-bottom .catalog__menu li.more__menu:focus > a:before {
    opacity: 0.1;
}
.header-bottom .catalog__menu li.more__menu:hover .submenu, .header-bottom .catalog__menu li.more__menu:focus .submenu {
    display: flex;
}
.menu__button-close {
    position: fixed;
    display: block;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    background: #eaeaea;
    border: none;
    width: 46px;
    height: 46px;
    transform: rotate(45deg);
    transition: 500ms;
    cursor: pointer;
    z-index: 9999;
    user-select: none;
}
.menu__button-close:before, .menu__button-close:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 9px);
    width: 18px;
    height: 2px;
    background: #333;
}
.menu__button-close:before {
    transform: rotate(90deg);
}
.menu__button-close:hover, .menu__button-close:focus {
    outline: none;
    transform: rotate(225deg);
    transition: 600ms;
}
.type__sidebar .header-top_navbar li {
    margin-right: 0;
}
.type__sidebar .header-top_navbar li a {
    color: #fff;
    padding: 20px 15px;
}
.type__sidebar .header-top_navbar li a:hover, .type__sidebar .header-top_navbar li a:focus, .type__sidebar .header-top_navbar li a:active {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}
.type__sidebar .icon__geo, .type__sidebar .icon__phone {
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5px;
    flex-shrink: 0;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    margin-right: 15px;
}
.type__sidebar .header-address__address, .type__sidebar .callback__link {
    font-size: 0.875rem;
}
.type__sidebar .callback__link {
    color: #ff223d;
    transition: 50ms;
}
.type__sidebar .callback__link:hover, .type__sidebar .callback__link:focus, .type__sidebar .callback__link:active {
    color: #333;
    transition: 300ms;
}
.type__sidebar .phone__number-link:hover, .type__sidebar .phone__number-link:focus, .type__sidebar .phone__number-link:active {
    color: #333;
    transition: 300ms;
}
.type__sidebar .header__info-block {
    width: 275px;
    padding-right: 0;
    padding-left: 30px;
}
.type__sidebar .header-address path {
    fill: #ff223d;
}
.type__sidebar .header-phone__column {
    display: flex;
    flex-direction: column;
}
