.around {
	background-color: #fff;
	padding: 155px 0 85px;
}

.around__info {
	max-width: 460px;
}

.around__title {
	margin-bottom: 30px;
}

.around__text {
	font-size: 1.2rem;
	line-height: 2rem;
	margin-bottom: 40px;
	opacity: 0.6;
}

.around__link-all {
	font-size: 0.9333rem;
	line-height: 1.133rem;
}

.around__block {
	display: flex;
	align-items: flex-start;
}

.around__block:not(:last-child) {
	margin-bottom: 40px;
}

.around__pic {
	margin-right: 40px;
}

.around__desc-title {
	font-weight: bold;
	font-size: 1.067rem;
	line-height: 1.6rem;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.around__desc-text {
	font-size: 1.067rem;
	line-height: 1.6rem;
	opacity: 0.6;
}

@media (max-width: 992px) {
	.around__info {
		max-width: none;
		margin-bottom: 85px;
	}
	.around__blocks {
		display: flex;
		flex-wrap: wrap;
	}
	.around__block {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.around {
		margin-bottom: 85px;
		padding: 65px 0;
	}
	.around__blocks {
		flex-direction: column;
	}
	.around__block {
		width: auto;
		max-width: 351px;
	}
}

@media (max-width: 576px) {
	.around__block {
		max-width: none;
		flex-direction: column;
	}
	.around__pic {
		margin-right: 0;
		margin-bottom: 30px;
	}
}