/* autoprefixer grid: autoplace */

.products {
	padding: 88px 0;
	&.products-grey {
		background: #F8F8F8;
	}
}

.products__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.products__title {
	margin-right: 15px;
}

.products__title,
.products__link-all {
	margin-bottom: 45px;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100%;
	padding: 75px 30px 40px;
	background: #fff;
	overflow: hidden;
	transition: 0.3s all ease-out;
	&.product-big {
		display: grid;
		grid-template-columns: 60% 40%;
		grid-auto-rows: max-content;
		padding: 30px 30px 45px 30px;
		.product__img {
			grid-column: 2;
			grid-row: 1/7;
			align-self: center;
			max-height: 100%;
			max-width: 100%;
			margin: 0;
		}
		.product__btns {
			grid-column: 1;
			grid-row: 1;
			position: static;
			width: auto;
			justify-content: flex-start;
			margin-bottom: 20px;
		}
		.product__btn {
			transform: translate(-15px, 0);
		}
		.products__label {
			position: static;
			transform: translate(-15px, 0);
			justify-content: flex-start;
			width: auto;
		}
		.product__name,
		.product__subtitle,
		.products__price {
			position: static;
			text-align: left;
		}
		.product__name {
			grid-column: 1;
			grid-row: 2;
			margin-bottom: 15px;
		}
		.product__subtitle {
			grid-column: 1;
			grid-row: 4;
			margin-bottom: 10px;
		}
		.product__rating {
			grid-column: 1;
			grid-row: 3;
		}
		.products__price {
			grid-column: 1;
			grid-row: 5;
			margin-bottom: 35px;
		}
		.products__text {
			grid-column: 1;
			grid-row: 6;
		}
	}
	&:hover,
	&:focus {
		box-shadow: 0 5px 10px #e6e6e6;
	}
}

.product__rating {
	margin-bottom: 20px;
}

.product__img {
	display: block;
	margin-bottom: 20px;
	height: 170px;
	img {
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
}

.product__info-wrap {
	min-height: 80px;
	margin-bottom: 30px;
	text-align: center;
	max-width: 100%;
}

.product__name {
	display: block;
	margin-bottom: 7px;
	color: #000;
	font-size: 1.067rem;
	line-height: 1.333rem;
	font-weight: bold;
	text-transform: uppercase;
}

.product__subtitle {
	color: #7E7E7E;
	font-size: 0.9333rem;
	line-height: 1.133rem;
	font-weight: 500;
}

.product__btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 25px;
	left: 30px;
	width: calc(100% - 30px*2);
}

.product__btn {
	padding: 15px;
	background: none;
	border: none;
	cursor: pointer;
	svg {
		height: 19px;
		width: 19px;
		fill: #000;
	}
}

.products__price {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 100%;
	text-align: center;
	color: #26AE60;
	font-size: 1.6rem;
	font-weight: bold;
}

.products__label {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: absolute;
	top: 25px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	.label {
		margin: 0 15px 5px;
	}
}

.products__text {
	position: relative;
	z-index: 1;
	max-width: 250px;
	font-size: 1.067rem;
	line-height: 1.6rem;
	color: #7E7E7E;
}

@media (max-width: 992px) {
	.product {
		padding: 50px 30px 40px;
	}
}

@media (max-width: 768px) {
	.products {
		padding: 65px 0;
	}
	.product {
		&.product-big {
			display: flex;
			align-items: flex-start;
			.product__img  {
				position: absolute;
				z-index: 0;
				bottom: 0;
				right: 15px;
				max-width: 48%;
			}
			.product__name,
			.products__text {
				max-width: 50%;
			}
		}
	}
	.products__title {
		margin-bottom: 25px;
	}
	.product__info-wrap {
		min-height: 0;
	}
}

@media (max-width: 576px) {
	.product {
		&.product-big {
			display: flex;
			align-items: flex-start;
			padding-bottom: 150px;
			.product__img  {
				top: calc(100% - 100px);
				right: auto;
				bottom: auto;
				left: 50%;
				transform: translate(-50%, 0);
			}
			.product__name,
			.products__text {
				max-width: 100%;
			}
		}
	}
}