.header {
	background-color: #fff;
	.header-search {
		flex: 1 0;
		padding: 0 30px;
	}
}

.header__top {
	padding: 30px 0;
    border-bottom: 1px solid #ececec;
}

.header__top .container {
    position: relative;
}

.header-logo__link {
	display: block;
    max-width: 180px;
    flex: 0 1 190px;
    height: 51px;
}

.header__hamburger {
    background-color: transparent;
    border: none;
    width: 44px;
    height: 38px;
    padding: 10px;
	cursor: pointer;
	span {
		display: block;
		position: relative;
		width: 24px;
		height: 2px;
		background-color: black;
		border-radius: 1px;
		&:after,
		&:before {
			content: '';
			position: absolute;
			left: 0;
			width: 24px;
			height: 2px;
			background-color: black;
			transition: 0.3s all ease-out;
		}
		&:before {
			top: 9px;
		}
		&:after {
			bottom: 9px;
		}
	}
	&.header__hamburger_fixed {
		z-index: 1001;
		position: fixed;
		transform: translateX(-10px);
		span {
			pointer-events: all;
			background-color: transparent;
			&:after {
				background-color: black;
				opacity: 1;
				top: calc(50% - 1px);
				transform: rotate(135deg);
			}
			&:before {
				background-color: black;
				opacity: 1;
				top: auto;
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}

.header__block {
    display: flex;
    align-items: flex-start;
    max-width: fit-content;
	flex: 1 1 auto;
	&.header__block_menu {
		flex: 0 1 auto;
		width: 74px;
		height: 38px;
		margin-right: 30px;
	}
	&.header__block_phone {
		flex: 0 1 auto;
		display: inline-flex;
		justify-content: flex-end;
		a {
			line-height: 1.5em;
		}
	}
}

.header-phone__number {
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
}

.header-phone__icon {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-right: 10px;
	svg {
		height: 20px;
		margin-top: 2px;
		fill: #333;
	}
}

.header-phone__info {
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
	span {
		line-height: 1.5em;
	}
}

.header-logo__name {
	max-width: 185px;
	margin-left: 30px;
    line-height: 1.5em;
}

.header-menu {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition: 0.3s all ease-out;
	&.header-menu__show {
		visibility: visible;
		pointer-events: all;
		opacity: 1;
	}
	.container,
	.header-menu__content {
		height: 100%;
	}
	a {
		color: #2D2D2D;
	}
	.header-menu__content {
		padding: 140px 0 15px;
		& > ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -15px -90px;
			& > li {
				flex: 1 0 auto;
				flex-basis: calc(100% / 4);
				max-width: calc(100% / 4);
				padding: 0 15px 90px;
				font-size: 1.2rem;
				line-height: 1.467rem;
				font-weight: bold;
			}
		}
	}
	.menu__dots {
		display: none;
	}
	.more-menu__submenu {
		padding: 30px 0 0 0;
		li {
			a {
				padding: 10px 0;
				font-size: 1rem;
				line-height: 1.2rem;
				font-weight: normal;
			}
		}
	}
}

@media (max-width:1200px) {
	.header__block {
		&.header__block_menu {
			margin-right: 15px;
		}
	}
	.header {
		.header-search {
			padding: 0 15px;
		}
	}
	.header-logo__name {
		margin-left: 15px;
	}
    .header__phone {
		a {
			font-size: 1rem;
		}
    }
}

@media (max-width: 1100px) {
	.header-logo__name {
		display: none;
	}
}