.news {
	position: relative;
	padding: 80px 0;
	background: #26AE60;
}

.news__inner {
	display: flex;
	flex-wrap: wrap;
	border-radius: 5px;
    overflow: hidden;
}

.news__title,
.news__link-all-news {
	margin-bottom: 45px;
}

.news__title {
	flex: 1 1;
	color: #fff;
}

.news__link-all-news {
	flex: 0 1 220px;
	justify-content: flex-end;
}

.news__slides-inner {
	flex: 1 1 100%;
	max-width: 100%;
	border-radius: 5px;
    overflow: hidden;
}

.news-slide {
	display: block;
	position: relative;
	min-height: 250px;
	padding: 30px 40px 60px;
	background: #fff;
	transition: 0.3s all ease-out;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 1px;
		height: 100%;
		background: #EAEAEA;
	}
	&:hover {
		background: #F8F8F8;
	}
}

.news-slide__theme {
	margin-bottom: 10px;
	color: #95A5A6;
	font-size: 0.9333rem;
	line-height: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
}

.news-slide__title {
	color: #000;
	font-size: 1rem;
	line-height: 1.8rem;
}

.news-slide__date {
	position: absolute;
	bottom: 30px;
	left: 40px;
	color: #aaa9ad
}

.news__nav {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	&.news__nav_prev {
		right: calc(100% + 50px);
	}
	&.news__nav_next {
		left: calc(100% + 50px);
	}
}

.news-dots {
	display: flex;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate(-50%, 0);
}

.news-dots__item {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	margin: 0 3px;
	background: #eee;
	opacity: 0.4;
	transition: 0.3s all ease-out;
	cursor: pointer;
	&.tns-nav-active {
		opacity: 1;
	}
}

@media (max-width: 1390px) {
	.news__title {
		flex: 0 1 450px;
	}
	.news__nav {
		&.news__nav_prev,
		&.news__nav_next {
			top: 0;
			transform: none;
		}
		&.news__nav_prev {
			right: 90px;
		}
		&.news__nav_next {
			left: auto;
			right: 15px;
		}
	}
}

@media (max-width: 860px) {
	.news {
		padding: 55px 0;
	}
	.news__link-all-news {
		order: 1;
		margin: 30px 0 0 0;
	}
}

@media (max-width: 768px) {
	.news__nav {
		&.news__nav_prev {
			right: 78px;
		}
	}
	.news__link-all-news {
		justify-content: flex-start;
	}
}

@media (max-width: 860px) and (min-width: 400px) {
	.news-dots {
		left: auto;
		right: 15px;
		bottom: 60px;
		transform: none;
	}
}

@media (max-width: 576px) {
	.news__title {
		margin-bottom: 30px;
	}
}

@media (max-width: 400px) {
	.news {
		padding: 40px 0;
	}
	.news__title {
		margin-bottom: 20px;
	}
	.news__nav {
		display: none!important;
	}
	.news__link-all-news {
		margin-top: 80px;
		flex: 1 1 100%;
		justify-content: center;
	}
	.news-dots {
		bottom: 100px;
	}
}