.header-responsive {
    display: none;
    padding: 30px 0;
}

.header-responsive__burger-wrap {
    position: relative;
}

.header-responsive__burger {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #eaeaea;
    box-sizing: border-box;
    border: none;
	cursor: pointer;
	&:after,
	&:before {
		content: '';
		position: absolute;
		display: block;
		height: 2px;
		left: 14px;
		background-color: #333;
		transition: 0.3s all ease-out;
	}
	&:before {
		width: 18px;
		top: 18px;
	}
	&:after {
		bottom: 18px;
		width: 9px;
	}
	&.header-responsive__burger_open {
		position: fixed;
		z-index: 1001;
		transform: translate(0, -23px);
		&:after {
			width: 18px;
    		top: calc(50% - 1px);
    		transform: rotate(135deg);
		}
		&:before {
			top: auto;
			bottom: calc(50% - 1px);
			transform: rotate(45deg);
		}
	}
}

.header-responsive__logo {
	img {
		max-height: 46px;
		width: auto;
	}
	a {
		width: 100%;
		justify-content: center;
		img,
		svg {
			max-height: 70px;
		}
	}
}

.header-responsive-phone {
    display: flex;
	justify-content: flex-end;
	padding: 10px 15px;
	color: #333;
	font-weight: 700;
	font-size: 1.125rem;
}

.header-responsive-phone__icon {
    display: flex;
    align-items: center;
    justify-content: center;
	margin-right: 5px;
	svg {
		height: 15px;;
		fill: #333;
	}
}

.head-nav__modal {
    min-height: 100vh;
    padding-top: 30px;
}

.mobile-menu {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transform: translate(0, 200px);
	background: #fff;
	transition: 0.3s all ease-out;
	-webkit-overflow-scrolling: touch;
	&.mobile-menu_open {
		visibility: visible;
		pointer-events: all;
		opacity: 1;
		transform: none;
	}
}

.mobile-menu__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
	padding: 30px 75px;
}

.mobile-menu__menu {
	margin-bottom: 25px;
	a {
		display: block;
		padding: 10px 0;
		font-size: 1.067rem;
    	color: #333;
	}
	&.mobile-menu__menu_nav-site {
		a {
			font-size: 0.8667rem;
			color: #aaa9ad;
		}
	}
	.more-menu {
		.menu__dots {
			display: none;
		}
	}
}

.mobile-menu__contact {
    display: inline-flex;
    align-items: center;
	width: 100%;
	margin-bottom: 20px;
    color: #333;
    font-size: 1.067rem;
	text-decoration: none;
}

.mobile-menu-contact__icon {
	display: flex;
	justify-content: center;
    align-items: center;
    min-width: 46px;
	height: 46px;
	margin-right: 15px;
    border: 1px solid #aaa9ad;
    border-radius: 50%;
	svg {
		height: 15px;
		fill: #333;
	}
}

@media (max-width: 991px){
	.header {
		display: none;
	}
    .header-responsive {
        display:block;
    }
}

@media (max-width: 767px) {
	.header-responsive-phone {
		padding: 0 15px;
	}
	.header-responsive-phone__value,
	.header-responsive__callback {
		display: none;
	}
	.header-responsive-phone__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 46px;
		height: 46px;
		border: 1px solid #ff223d;
		border-radius: 50%;
		svg {
			fill: #ff223d;
		}
	}
}

@media (max-width: 575px) {
	.header-responsive {
		padding: 15px 0;
	}
    .header-responsive__burger,
    .btn-icon {
        height: 42.5px;
        width: 42.5px;
	}
	.header-responsive__burger.header-responsive__burger_open {
		&:before {
			transform: translate(-2px, 0) rotate(45deg)
		}
		&:after {
			transform: translate(-2px, 0) rotate(135deg);
		}
	}
	.mobile-menu__content {
		padding: 80px 15px 15px;
	}
}