.header__responsive {
    display: none;
    padding: 30px 0;
}
.head-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.head-logo img {
    max-height: 46px;
    width: auto;
}
.head-phone {
    display: flex;
    justify-content: flex-end;
}
.head-phone a {
    color: #333;
    font-weight: 700;
    font-size: 1.125rem;
}
.head-phone__content {
    display: flex;
}
.head-phone__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}
.head-nav__modal {
    min-height: 100vh;
    padding-top: 30px;
}
.head-nav__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 75px;
}
.head-nav__menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.head-nav__button {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #eaeaea;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}
.head-nav__button:before, .head-nav__button:after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    left: 14px;
    background-color: #333;
    transition: 300ms;
}
.head-nav__button:before {
    width: 18px;
    top: 18px;
}
.head-nav__button:after {
    bottom: 18px;
    width: 9px;
}
.head-nav__button.fixed {
    position: fixed;
    z-index: 1001;
    top: 20px;
    left: 15px;
    pointer-events: all;
}
.head-nav__button.fixed:after {
    width: 18px;
    top: calc(50% - 1px);
    transform: rotate(135deg);
}
.head-nav__button.fixed:before {
    top: auto;
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
}
.menu__catalog {
    margin-bottom: 25px;
}
.menu__catalog a {
    display: inline-block;
    font-size: 1.125rem;
    color: #333;
    padding-bottom: 10px;
}
.menu__top {
    margin-bottom: 25px;
}
.menu__top a {
    display: inline-block;
    color: #aaa9ad;
    padding-bottom: 10px;
}
.nav__link {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    color: #333;
    font-size: 1.125rem;
    margin-bottom: 10px;
}
.nav__link .icon__svg {
    display: flex;
    min-width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa9ad;
    border-radius: 50%;
    margin-right: 15px;
}
.nav__link:hover, .nav__link:active, .nav__link:focus {
    text-decoration: none;
}
.head-logo__link {
    width: 100%;
    justify-content: center;
}
.head-logo__link svg, .head-logo__link img {
    max-height: 70px;
}
.head-nav__content--desktop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 0;
}
.head-nav__modal--desktop {
    min-height: 100vh;
    padding-top: 140px;
}
.head-nav__col {
    width: 277px;
    margin-bottom: 100px;
}
.head-nav__category-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 40px;
}
.head-nav__category-list {
    padding: 0;
    list-style-type: none;
}
.head-nav__category-list li:not(:last-child) {
    margin-bottom: 20px;
}
.head-nav__category-list a {
    color: black;
}

@media screen and (min-width: 320px) and (max-width: 991px){
    .header__responsive {
        display:block;
    }
    .head-modal__icon {
        display: flex;
        justify-content: flex-end;
    }
    .head-nav {
        flex-grow: 0;
    }
    .header__responsive .row>div {
        padding: 0 10px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .head-phone__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        border:1px solid #ff223d;
        border-radius: 50%;
        margin: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .head-nav__button,
    .btn-icon {
        height:42.5px;
        width:42.5px;
    }
    .header__responsive {
        padding: 15px 0;
    }
}