.header {
    background-color: #fff;
}

.header__top {
	padding: 20px 0;
    border-bottom: 1px solid #ececec;
}

.header__bottom {
	border-bottom: 1px solid #ececec;
}

.header-logo__link {
	display: block;
    flex: 0 1 190px;
	height: 50px;
	max-width: 180px;
}

.header-logo__name {
	max-width: 210px;
	margin-left: 20px;
	line-height: 1.5em;
}

.header__block {
    display: flex;
	align-items: center;
	&.header__block_phone {
		flex: 0 1 auto;
		display: inline-flex;
		align-items: flex-start;
		justify-content: flex-end;
		a {
			line-height: 1.5em;
		}
		.js-init-modal__form {
			font-size: 0.875rem;
			font-weight: 500;
		}
	}
}

.header-search {
	flex: 1 0;
	padding: 0 30px;
	.inp-search {
		padding-left: 50px;
		padding-right: 45px;
	}
}

.header__phone {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
	justify-content: flex-end;
	a {
		color: #333;
		font-weight: 500;
		font-size: 1.125rem;
		transition: 0.3s all ease-out;
	}
	svg {
		margin-right: 5px;
		fill: #ff1e36;
	}
}

.header-phone__number {
    color: #333;
	font-size: 1.125rem;
	&:hover {
		color: #ff1e36;
	}
}

.header-phone__icon {
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 2px 10px 0 0;
	svg {
		height: 20px;
		margin-top: 2px;
		fill: #333;
	}
}

.header-phone__info {
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
	span {
		line-height: 1.5em;
	}
}

.header__call,
.header__phone {
	button,
	a {
		white-space: nowrap;
	}
}

.menu__dots {
	position: relative;
    height: 15px;
    width: 15px;
	margin-left: 5px;
	svg {
		position: absolute;
		top: -2px;
		left: 0;
		height: 18px;
		fill: #333;
	}
}

.header-catalog-menu {
	ul {
		display: flex;
		justify-content: space-between;
		& > li {
			flex: 0 0 auto;
			padding: 0 15px;
			cursor: pointer;
			& > a {
				position: relative;
				z-index: 1;
				display: block;
				width: 100%;
				padding: 18px 0;
				text-align: center;
				font-size: 1rem;
				color: #333;
				white-space: nowrap;
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2px;
					background: #ff1e36;
					opacity: 0;
					transition: 0.3s all ease-out;
				}
				&:hover {
					&:before {
						opacity: 1;
					}
				}
			}
			&.more__menu {
				position: relative;
				ul {
					position: relative;
					&:before {
						content: '';
						position: absolute;
						top: -3px;
						left: 0;
						width: 100%;
						height: 2px;
						background: #ff1e36;
						transition: 0.3s all ease-out;
					}
					li {
						a {
							&:hover {
								&:before {
									opacity: 0;
								}
							}
						}
					}
				}
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 2px;
			}
		}
	}
}

.header-bottom .catalog__menu ul li a
.header-bottom .catalog__menu ul li a:hover {
	border-bottom: 2px solid #f5f5f5;
}

.header {
	.more-menu {
		flex: 0 1 auto;
		.more-menu__submenu {
			position: absolute;
			z-index: 2;
			display: flex;
			flex-direction: column;
			overflow: hidden;
			pointer-events: none;
			opacity: 0;
			right: 0;
			padding: 0;
			max-width: 300px;
			min-width: 250px;
			border-top: 1px solid #eaeaea;
			background-color: #fff;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
			transition: 0.3s all ease-out;
			li {
				padding: 0;
				transition: 0.3s all ease-out;
				a {
					display: block;
					padding: 20px 25px;
					color: #333;
					white-space: normal;
				}
				&:hover,
				&:focus {
					background: rgba(234, 234, 234, 0.5);
				}
			}
		}
		&:hover,
		&:focus
		.more-menu__link:hover,
		.more-menu__link:focus {
			.more-menu__submenu {
				overflow: visible;
				pointer-events: all;
				opacity: 1;
			}
		}
		.more-menu__link {
			display: flex;
			align-items: center;
			cursor: pointer;
		}
	}
}

@media (max-width:1200px) {
	.header-search {
		padding: 0 15px;
	}
    .header__phone {
		margin-right: 15px;
    }
    .header-search__min {
        flex-grow: inherit;
        width: 270px;
    }
    .header-logo__link {
        flex-basis: 160px;
    }
    .header-logo__name {
        display: none;
	}
	.header-phone__number {
		font-size: 1rem;
	}
	.header-contact__value,
	.header__phone a,
	.header-catalog-menu>ul>li>a,
	.header .more-menu .more-menu__submenu li a {
		font-size: 0.875rem;
	}
	.header .more-menu .more-menu__submenu li a,
	.header-catalog-menu ul li a {
		padding: 20px 0;
	}
}