.text-block {
	width: 100%;
	max-width: 1350px;
	margin: auto;
	padding: 75px 100px;
	&.text-block--grey {
		background: #F8F8F8;
		border-radius: 6px;
		color: #585757;
	}
}

@media (max-width: 768px) {
	.text-block {
		padding: 50px;
	}
}