.rewards {
  padding: 95px 0;
}

.rewards__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.rewards__items {
  display: flex;
  justify-content: space-between;
  margin: 0 -13px;
}

.rewards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  background-color: #F8F8F8;
  padding: 23px 40px 50px;
  margin: 0 13px;
}

.rewards__logo {
  max-height: 62px;
  margin-bottom: 20px;
}

.rewards__letter {
  width: 272px;
  height: 385px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin-bottom: 28px;
}

.rewards__info {
  text-align: center;
}

.rewards__info-title {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 7px;
}

.rewards__info-date {
  font-size: 0.9333rem;
  line-height: 0.9333rem;
  color: #9B9B9B;
}

.around__link-all--mob {
  display: none;
}

@media (max-width: 1200px) {
  .rewards__items {
    flex-flow: row wrap;
    &:after {
      content: "";
      flex: auto;
    }
  }
  .rewards__item {
    max-width: 452px;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .rewards__letter {
    width: 177px;
    height: 244px;
  }
  .rewards__item {
    max-width: none;
    flex: 0 1 46%;
  }
}

@media (max-width: 768px) {
  .rewards {
    padding: 65px 0 55px;
  }
  .around__link-all--desc {
    display: none;
  }
  .rewards__item {
    flex: 1 1 100%;
  }
  .around__link-all--mob {
    display: block;
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .rewards {
    padding: 55px 0 45px;
  }
  .rewards__title {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}